<div [@routerTransition]>
    <div class="row col-md-12">
        <div class="col col-md-6 align-items-center custom-body-header">
            <app-bodyHeader 
                (selectionChange)="onChildSelectionChange($event)">
            </app-bodyHeader>
        </div>
        <div class="col col-md-6 text-center">
            <div class="row">
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{headerDataNro01}} Ejecución Presupuestaria
                </div>
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{headerDataNro02}} Ejecución Periodo
                </div>
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{headerDataNro03}} Actividades Pendientes
                </div>
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{headerDataNro04}} Actividades Retrasadas
                </div>
            </div>
        </div>
    </div>

    <!-- ======= ======= ======= EJECUCION SECTION ======= ======= ======= -->
    <div class="row mb-3 mt-4">
        <div class="col col-xl-12 col-lg-12">
            <div class="card card-body custom-card">
                <div class="row">
                    <div class="col col-md-7 col-lg-7 custom-actividad-right-sep">
                        <div class="row">
                            <div class="col col-md-12 col-lg-12">
                                <h2 class="custom-view-title">Ejecución Financiera</h2>
                            </div>
                            <!-- ======= ======= PROYECTO SECTION ======= ======= -->
                            <div class="col col-md-3 col-lg-3">
                                <label class="custom-actividad-sub-title">Presupuesto del proyecto</label>
                                <input class="form-control" type="text" 
                                    id="presupuestoProy" name="presupuestoProy" 
                                    [(ngModel)]="presupuestoProy" disabled/>
                                <label class="custom-actividad-sub-title">Ejecutado</label>
                                <input class="form-control custom-actividad-input-bg-3" type="text" 
                                    id="ejecutadoProy" name="ejecutadoProy" 
                                    [(ngModel)]="ejecutadoProy" disabled/>
                            </div>
                            <div class="col col-md-3 col-lg-3">
                                <canvas id="doughnutChartProyecto"></canvas>
                            </div>
                            <!-- ======= ======= ======= ======= ======= -->
                            <!-- ======= ======= GESTION SECTION ======= ======= -->
                            <div class="col col-md-3 col-lg-3">
                                <label class="custom-actividad-sub-title">Presupuesto de la Gestión {{ gestion }}</label>
                                <input class="form-control" type="text" 
                                    id="presupuestoGest" name="presupuestoGest" 
                                    [(ngModel)]="presupuestoGest" disabled/>
                                <label class="custom-actividad-sub-title">Ejecutado</label>
                                <input class="form-control custom-actividad-input-bg-3" type="text" 
                                    id="ejecutadoGest" name="ejecutadoGest" 
                                    [(ngModel)]="ejecutadoGest" disabled/>
                            </div>
                            <div class="col col-md-3 col-lg-3">
                                <canvas id="doughnutChartGestion"></canvas>
                            </div>
                            <!-- ======= ======= ======= ======= ======= -->
                        </div>
                    </div>
                    <div class="col col-md-5 col-lg-5">
                        <div class="row">
                            <!-- ======= ======= DECLARACION SECTION ======= ======= -->
                            <div class="col col-md-6 col-lg-6 custom-actividad-right-sep">
                                <label class="custom-actividad-sub-title">
                                    Declaraciones de Ejecución
                                </label>
                                <div class=" table-responsive custom-actividad-presu-avance-table">                                 
                                    <table class="table custom-table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">ID</th>
                                                <th style="text-align: center;">Declaración</th>
                                                <th style="text-align: center;">Ejecución</th>                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let presuAvance of presuAvances; let i = index">
                                                <td>
                                                    {{ presuAvance.id_proy_presu_avance }}
                                                </td>
                                                <td>
                                                    {{ ((presuAvance.fecha_hora).slice(0,10)) }}
                                                </td>
                                                <td>
                                                    {{ presuAvance.monto_avance.slice(1)}}
                                                </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- ======= ======= ======= ======= ======= -->
                            <!-- ======= ======= EJECUTADO SECTION ======= ======= -->
                            <div class="col col-md-6 col-lg-6">
                                <label class="custom-actividad-sub-title">Nuevo Ejecutado</label>
                                <input class="form-control" type="text" 
                                    id="montoNuevoEjecutado" name="montoNuevoEjecutado" 
                                    placeholder="Ingrese el monto ejecutado" 
                                    [disabled]="(idPresupuestoGest == 0)"
                                    (change)="onChangedMontoNuevoEjecutado()"
                                    [(ngModel)]="montoNuevoEjecutado"/>
                                <span class="custom-alert-message" *ngIf="!valMontoNuevoEjecutado">
                                    Debe ingresar un monto válido.
                                </span>
                                <div></div>
                                <label class="custom-actividad-sub-title">Motivo</label>
                                <textarea class="form-control" type="text" 
                                    id="motivoNuevoEjecutado" name="motivoNuevoEjecutado" 
                                    placeholder="Ingrese el motivo de ejecución" 
                                    [disabled]="(this.idPresupuestoGest == 0)"
                                    [(ngModel)]="motivoNuevoEjecutado">
                                </textarea>
                                <span class="custom-alert-message" *ngIf="!valMotivoNuevoEjecutado">
                                    Debe ingresar un motivo valido, con menos de 100 caracteres.
                                </span>
                                <button type="button" class="btn btn-view-bg-1 w-100 mt-2"
                                    [disabled]="(this.idPresupuestoGest == 0)"
                                    (click)="addPresuAvance()">
                                    <i aria-hidden="true"></i> Añadir
                                </button>
                                <span class="custom-alert-message" style="font-weight: bold;"
                                    *ngIf="(idPresupuestoGest == 0)">
                                    No existe presupuesto para esta gestion, agrega un presupuesto en Inf. Proyecto.
                                </span>
                            </div>
                            <!-- ======= ======= ======= ======= ======= -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= ======= ======= ======= ======= ======= ======= -->
    <!-- ======= ======= ======= GANT CHART SECTION ======= ======= ======= -->
    <div class="card mt-2">
        <div class="card-body custom-card">
            <!-- ======= ======= BUTTONS SECTION ======= ======= -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="custom-actividad-sub-title">
                    Actividades del Proyecto
                </h2>
                <div class="row">
                    <div class="col col-xl-12 col-lg-12 text-end">
                        <input class="form-check-input custom-form-actividades-checkbox" type="checkbox" 
                            id="showReprogramados" name="showReprogramados" 
                            [(ngModel)]="showReprogramados">
                        <label class="custom-form-lable-checkbox" for="showReprogramados">
                            Ver reprogramados
                        </label>
                        <button type="button" class="btn btn-view-bg-1 mx-2"
                            (click)="initAddActividad(actividadModal)"
                            [disabled]="actividadSelected">
                            <i aria-hidden="true"></i> Añadir
                        </button>
                        <button type="button" class="btn btn-view-bg-1"
                            (click)="initAvanceActividad(actividadModal)"
                            [disabled]="(!actividadSelected)||(actividadSelected.esActividadReprog)">
                            <i aria-hidden="true"></i> Avance
                        </button>
                    </div>
                </div>
            </div>
            <!-- ======= ======= ======= ======= ======= -->
            <!-- ======= ======= BUTTONS SECTION ======= ======= -->
            <div class="row">
                <div class="col col-md-1 col-lg-1">
                    <div class="row custom-actividad-header">
                        <div class="col col-md-12 col-lg-12">
                            RES
                        </div>
                    </div>
                </div>
                <div class="col col-md-11 col-lg-11">
                    <div class="row">
                        <div class="col col-md-5 col-lg-5">
                            <!-- ======= HEADER SECTION ======= -->
                            <div class="row custom-actividad-header">
                                <div class="col col-md-6 col-lg-6">
                                    ACTIVIDADES
                                </div>
                                <div class="col col-md-4 col-lg-4">
                                    PRESUPUESTO
                                </div>
                                <div class="col col-md-2 col-lg-2">
                                    AVANCE
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-7 col-lg-7">
                            <label class="custom-gant-header">
                                {{ gestion }}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="col col-md-12 col-lg-12 custom-row-relative">
                    <div class="row custom-gant-chart-background">
                        <div class="col col-md-1 col-lg-1">
                        </div>

                        <div class="col col-md-11 col-lg-11">
                            <div class="row">
                                <div class="col col-md-5 col-lg-5">
                                </div>
                                <div class="col col-md-7 col-lg-7">
                                    <div class="row">
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Ene
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Feb
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Mar
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Abr
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                May
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Jun
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Jul
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Ago
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Sep
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Oct
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Nov
                                            </span>
                                        </div>
                                        <div class="col col-md-1 col-lg-1 custom-month-col">
                                            <span class="custom-month-span">
                                                Dic
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-md-12 col-lg-12 pt-4">
                    <!-- ======= ACTIVIDADES SECTION ======= -->
                    <div class="row my-1" *ngFor="let elementoGant of elementosGant">
                        <div class="col col-md-1 col-lg-1 custom-elemento-container">
                            <span class="custom-vertical-text custom-elemento-span">
                                Res {{ elementoGant.codigo }}
                            </span>
                        </div>
                        <div class="col col-md-11 col-lg-11">
                            <div class="row mb-1 custom-actividad-gant-container" 
                                *ngFor="let actividadGant of elementoGant.childrens" 
                                [hidden]="(( actividadGant.esActividadReprog )&&( !showReprogramados ))"
                                [ngClass]="{'custom-actividad-gant-container-selected': actividadGant.selected}"
                                (click)="onActividadClick(actividadGant)">
                                <div class="col col-md-5 col-lg-5">
                                    <div class="row">
                                        <div class="col col-md-6 col-lg-6 px-1">
                                            <div class="col custom-elemento-actividad"
                                                [ngClass]="{'custom-elemento-actividad-reprog': (actividadGant.esActividadReprog)}">
                                                {{ actividadGant.actividad }}
                                            </div>
                                        </div>
                                        <div class="col col-md-3 col-lg-3 px-1">
                                            <div class="col custom-elemento-actividad"
                                                [ngClass]="{'custom-elemento-actividad-reprog': (actividadGant.esActividadReprog)}">
                                                {{ parseAmountFloatToStr(actividadGant.presupuesto) }}
                                            </div>
                                        </div>
                                        <div class="col col-md-3 col-lg-3 px-1">
                                            <div class="col custom-elemento-actividad"
                                                [ngClass]="{'custom-elemento-actividad-reprog': (actividadGant.esActividadReprog)}">
                                                {{ actividadGant.porcentajeAvance }}%
                                                <!--canvas #canvas id="halfCircleChart-{{ actividadGant.codigo }}" width="50" height="50"></canvas-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-md-7 col-lg-7">
                                            
                                    <div class="row" style="height: 100%;">
                                        <div class="col col-md-12 col-lg-12 d-flex align-items-center">
                                            <div [style.width.%]="actividadGant.init_date_gap_por">
                                            </div>
        
                                            <div class="custom-actividad-progress-bar px-0"
                                                [style.width.%]="actividadGant.date_gap_por">
                                                <div 
                                                    class="custom-actividad-progress-fill" 
                                                    [style.width.%]="actividadGant.porcentajeAvance"
                                                    [ngClass]="{'custom-elemento-actividad-reprog': (actividadGant.esActividadReprog)}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ======= ======= ======= -->
                </div>
                <!-- ======= ======= ======= ======= ======= -->

            </div>
        </div>
    </div>
    <!-- ======= ======= ======= ======= ======= ======= ======= -->
</div>

<!-- ======= ======= ======= ACTIVIDAD MODAL ======= ======= ======= -->
<ng-template #actividadModal let-modal class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="btn-close" aria-label="Close" 
            (click)="modal.dismiss('Cross click')">
        </button>
    </div>
    
    <div class="modal-body">
        <form #actividadForm="ngForm" (ngSubmit)="onSubmit(actividadForm)">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body custom-card">
                            <div class="row">
                                <!-- ======= COSIGO SECTION ======= -->
                                <div class="col col-md-3">
                                    <label for="codigo">Código</label>
                                    <input class="form-control" type="text" 
                                        id="codigo" name="codigo" 
                                        [(ngModel)]="codigo" disabled>
                                </div>
                                <!-- ======= ACTIVIDAD SECTION ======= -->
                                <div class="col col-md-9">
                                    <label for="actividadText">Actividad</label>
                                    <input class="form-control" type="text" 
                                        id="actividadText" name="actividadText" 
                                        [(ngModel)]="actividadText" [disabled]="modalAction == 'edit'"
                                        (change)="validateActividadText()"
                                        placeholder="Ingrese un titulo para la actividad">
                                <span class="custom-alert-message" *ngIf="!valActividadText">
                                    Debe ingresar un titulo valido, con menos de 100 caracteres.
                                </span>
                            </div>

                                <!-- ======= REPROGRAMADO SECTION ======= -->
                                <div class="col col-md-5">
                                    <label for="proy_acti_repro">Reprogramado de:</label>
                                    <input class="form-control" type="text" 
                                        id="proy_acti_repro" name="proy_acti_repro" 
                                        [(ngModel)]="proy_acti_repro" placeholder="No es reprogramado" disabled>
                                </div>
                                <!-- ======= PADRE SECTION ======= -->
                                <div class="col col-md-3">
                                    <label for="id_proy_elemento_padre">Padre</label>
                                    <select class="form-control" id="id_proy_elemento_padre" 
                                        name="id_proy_elemento_padre" (change)="onPadreChanged()"
                                        [(ngModel)]="id_proy_elemento_padre" [disabled]="modalAction == 'edit'">
                                        <option value="" disabled>Seleccionar padre</option>
                                        <option *ngFor="let elemento of elementos" 
                                                [value]="elemento.id_proy_elemento">
                                            {{elemento.codigo}}
                                        </option>
                                    </select>
                                    <span class="custom-alert-message" *ngIf="!valIdProyElementoPadre">
                                        Debe seleccionar un elemento padre.
                                    </span>
                                </div>
                                <!-- ======= RESULTADO OUTPUT SECTION ======= -->
                                <div class="col col-md-4">
                                    <label for="proy_elemento_padre">Actividad Resultado/Output</label>
                                    <input class="form-control" type="text" 
                                        id="proy_elemento_padre" name="proy_elemento_padre" 
                                        [(ngModel)]="proy_elemento_padre" placeholder="Seleccione un elemento padre" disabled>
                                </div>
                    
                                <!-- ======= DESCRIPCION SECTION ======= -->
                                <div class="col col-md-12 col-lg-12">
                                    <label for="descripcion">Descripción</label>
                                    <textarea class="form-control" 
                                        id="descripcion" name="descripcion" 
                                        [(ngModel)]="descripcion" [disabled]="modalAction == 'edit'"
                                        (change)="validateDescripcion()"
                                        placeholder="Ingrese una descipción de la actividad">
                                    </textarea>
                                    <span class="custom-alert-message" *ngIf="!valDescripcion">
                                        Debe ingresar una descripción valida, con menos de 255 caracteres.
                                    </span>
                                </div>


                                <!-- ======= LABEL SECTION ======= -->
                                <div class="col col-md-12 col-lg-12">
                                    <label>Planificacion</label>
                                </div>
                                <!-- ======= FECHA INICIO SECTION ======= -->
                                <div class="col col-md-4 col-lg-4">
                                    <label for="fecha_inicio">Inicio</label>
                                    <input class="form-control" type="date" 
                                        id="fecha_inicio" name="fecha_inicio" 
                                        [(ngModel)]="fecha_inicio" [disabled]="modalAction == 'edit'"
                                        (change)="validateFechaInicio()">
                                    <span class="custom-alert-message" *ngIf="!valFechaInicio">
                                        Debe ingresar una fecha valida dentro de la gestion actual.
                                    </span>
                                </div>
                                <!-- ======= FECHA FIN SECTION ======= -->
                                <div class="col col-md-4 col-lg-4">
                                    <label for="fecha_fin">Fin</label>
                                    <input class="form-control" type="date" 
                                        id="fecha_fin" name="fecha_fin" 
                                        [(ngModel)]="fecha_fin" [disabled]="modalAction == 'edit'"
                                        (change)="validateFechaFin()">
                                    <span class="custom-alert-message" *ngIf="!valFechaFin">
                                        Debe ingresar una fecha valida dentro de la gestion actual.
                                    </span>
                                    <span class="custom-alert-message" *ngIf="!valFechaInicio">
                                        La fecha de finalizacion debe ser mayor a la de inicio.
                                    </span>
                                </div>
                                <!-- ======= PRESUPUESTO SECTION ======= -->
                                <div class="col col-md-4 col-lg-4">
                                    <label for="presupuesto">Presupuesto</label>
                                    <input class="form-control" type="text" 
                                        id="presupuesto" name="presupuesto" 
                                        [(ngModel)]="presupuesto" [disabled]="modalAction == 'edit'"
                                        (change)="onChangedPresupuesto()"
                                        placeholder="Ingrese el presupuesto de la actividad">
                                    <span class="custom-alert-message" *ngIf="!valPresupuesto">
                                        Debe ingresar un monto valido.
                                    </span>
                                </div>
                            
                                <div class="custom-form-separator mx-auto my-3" style="border-color: #4E8646;"> 
                                </div>

                                <div class="row">
                                    <span class="text-green-700 relative z-10 pl-2">
                                        Avance
                                    </span>
                                </div>
                            
                                <!-- ======= AVANCE SECTION ======= -->
                                <div class="col col-md-6 col-lg-6 mb-3 custom-actividad-right-sep">
                                        
                                    <div class="row">
                                        <!-- ======= PORCENTAJE SECTION ======= -->
                                        <div class="col col-md-4 col-lg-4">
                                            <label for="actAvaAvance">% Avance</label>
                                            <input class="form-control" type="text" 
                                                id="actAvaAvance" name="actAvaAvance" 
                                                placeholder="Ingresa el porcentaje"
                                                [(ngModel)]="actAvaAvance" [disabled]="modalAction == 'add'"
                                                (change)="validateActAvaAvance()">
                                            <span class="custom-alert-message" *ngIf="!valActAvaAvance">
                                                Debe ingresar un monto valido.
                                            </span>
                                        </div>
                                        <!-- ======= EJECUTADO SECTION ======= -->
                                        <div class="col col-md-6 col-lg-6">
                                            <label for="actAvaMonto">Nuevo Ejecutado</label>
                                            <input class="form-control" type="text" 
                                                id="actAvaMonto" name="actAvaMonto" 
                                                placeholder="Ingresa el nuevo monto"
                                                [(ngModel)]="actAvaMonto" [disabled]="modalAction == 'add'"
                                                (change)="onChangedAvanceNuevoEjecutado()">
                                            <span class="custom-alert-message" *ngIf="!valActAvaMonto">
                                                Debe ingresar un monto valido.
                                            </span>
                                        </div>
                                        <!-- ======= ADD AVANCE SECTION ======= -->
                                        <div class="col col-md-1 col-lg-1 mt-auto">
                                            <button type="submit" class="btn btn-bg-1" 
                                                [disabled]="modalAction == 'add'">
                                                <i aria-hidden="true"></i> +
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-md-12 col-lg-12">
                                            <span class="text-green-700 relative z-10 pl-2 mt-4">
                                                Ejecucion Presupuestaria
                                            </span>
                                        </div>
                                        <!-- ======= ADD AVANCE SECTION ======= -->
                                        <div class="col col-md-12 col-lg-12">
                                            <table class="table custom-table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Declaracion</th>
                                                        <th>Avance</th>
                                                        <th>Ejecucion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let actividadAvance of actividadAvances">
                                                        <td>{{ ((actividadAvance.fecha_hora).slice(0,10)) }}</td>
                                                        <td>{{ actividadAvance.avance }}</td>
                                                        <td>{{ actividadAvance.monto_ejecutado }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                                <!-- ======= FACTORES SECTION ======= -->
                                <div class="col col-md-6 col-lg-6 mb-3">
                                    <label for="resultado">Factores que impidieron el cumplimiento</label>
                                    <textarea class="form-control" type="text" 
                                        id="resultado" name="resultado" 
                                        placeholder="Si sera reprogramado ingrese el motivo de incumplimiento"
                                        [(ngModel)]="resultado" 
                                        (change)="validateResultado()"
                                        [disabled]="modalAction == 'add'">
                                    </textarea>
                                    <span class="custom-alert-message" *ngIf="!valResultado">
                                        Debe ingresar un factor valido.
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%;">
            <button type="button" class="btn btn-bg-3" 
                (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cancelar
            </button>
            <button type="button" class="btn btn-bg-2" 
                [disabled]="modalAction == 'add'" 
                (click)="initReprogramarActividad(reprogramarActividadModal)">
                <i aria-hidden="true"></i> Reprogramar
            </button>
            <button type="button" class="btn btn-bg-1" 
                (click)="onSubmit()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
            </button>
        </div>
    </div>
    
</ng-template>
<!-- ======= ======= ======= ======= ======= ======= ======= -->
<!-- ======= ======= ======= REPROGRAMAR ACTIV MODAL ======= ======= ======= -->
<ng-template #reprogramarActividadModal let-modal class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">Reprogramar Actividad</h4>
        <button type="button" class="btn-close" aria-label="Close" 
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" style="width: 100%;">
            <p>Esta seguro de querer reprogramar esta actividad?</p>
            <p>Porfavor ingrese las nuevas fechas.</p>
        </div>
        <div class="row">
            <!-- ======= FECHA INICIO SECTION ======= -->
            <div class="col col-md-6 col-lg-6">
                <label for="fecha_inicio">Inicio</label>
                <input class="form-control" type="date" 
                    id="fecha_inicio" name="fecha_inicio" 
                    [(ngModel)]="fecha_inicio"
                    (change)="validateFechaInicio()">
                <span class="custom-alert-message" *ngIf="!valFechaInicio">
                    Debe ingresar una fecha valida.
                </span>
            </div>
            <!-- ======= FECHA FIN SECTION ======= -->
            <div class="col col-md-6 col-lg-6">
                <label for="fecha_fin">Fin</label>
                <input class="form-control" type="date" 
                    id="fecha_fin" name="fecha_fin" 
                    [(ngModel)]="fecha_fin"
                    (change)="validateFechaFin()">
                <span class="custom-alert-message" *ngIf="!valFechaFin">
                    Debe ingresar una fecha valida.
                </span>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%;">
            <!-- ======= ======= BUTTONS SECTION ======= ======= -->
            <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
            </button>
            <button type="button" class="btn btn-bg-1" (click)="reprogramarActividad()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Reprogramar
            </button>
        </div>
    </div>
</ng-template>
<!-- ======= ======= ======= ======= ======= ======= ======= -->