@import '../../../styles/styles.scss';

h5.presupuesto {
    background-color: #d67600; /* Fondo verde */
    color: #ffffff; /* Texto blanco */
    border: 1px solid #000000; /* Borde ligero */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centrado del texto */
    padding: 0.5rem; /* Espaciado interno */
    margin: 0; /* Sin márgenes externos */
    display: block; /* Ocupa todo el ancho disponible */
    font-size: 60%; /* Tamaño de texto ajustable */
    font-weight: bold; /* Texto más destacado */
    box-sizing: border-box; /* Asegura que padding no desborde el ancho */
}

    canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    }
    .text-center {
    font-size: 1.2rem;
    color: #4e8646;
    font-weight: bold;
    }

    .legend-box {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 2px;
      }

    .text-lg-start {
        margin-bottom: 15px;
    }

    .gantt-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }
      
      .gantt-sidebar {
        width: 30%;
        background-color: #ffffff;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
      
      .header {
        font-size: 20px;
        font-weight: bold;
        color: #4caf50;
        margin-bottom: 20px;
      }
      
      .task {
        margin-bottom: 15px;
        background-color: #fafafa;
        padding: 10px;
        border-radius: 8px;
      }
      
      .task-header {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
      
      .task-details {
        font-size: 14px;
        color: #555;
      }
      
      .progress {
        font-size: 14px;
        color: #888;
      }
      
      .gantt-timeline-container {
        width: 65%;
        padding-left: 20px;
      }
      
      .timeline {
        position: relative;
      }
      
      .timeline-header {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }
      
      .month {
        width: 8%;
        text-align: center;
      }
      
      .progress-bar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
      }
      
      .progress-bar {
        height: 25px;
        border-radius: 5px;
        margin-top: 10px;
        transition: all 0.3s ease;
      }
      
      .progress-bar:hover {
        filter: brightness(1.2);
      }  