<div class="row">
    <div class="col col-md-3 mx-auto">
        <img class="mx-auto" [src]="(userImg)||(defaultImageSrc)" style="border-radius: 45%; object-fit: cover;" height="80" width="80" alt="Sin imagen" />
    </div>
    <div class="col col-md-6 mx-auto">
        <span class="pt-4 titulo">Bienvenido(a): {{fullUserName}}</span>
        <span>
            <select class="form-control" id="proyecto" name="proyecto" 
                [(ngModel)]="currentIdProy" (change)="onSelectionChange()">
                <option value="" disabled selected>Selecciona un elemento</option>
                <option *ngFor="let proyecto of proyectos" [value]="proyecto.id_proyecto">
                    {{ proyecto.proyecto }}
                </option>
            </select>
        </span>
        <span class="pt-4 titulo">Rol: {{currentPerProRol}}</span>
    </div>
    <div class="col col-md-3 mx-auto">
        <img class="mx-auto" [src]="projectImg" style="border-radius: 45%; object-fit: cover;" height="80" width="80" alt="Sin imagen" />
    </div>
</div>