<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center align-items-center h-100">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" [style.width.px]="100" alt="logo"/>
            <h1>Fundación Amigos de la Naturaleza</h1>
            <h5>Porfavor ingresa tu cuenta</h5>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Usuario'"
                            [(ngModel)]="user"
                            name="user"
                            class="form-control input-underline input-lg"
                            type="text"
                        />
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Contraseña'"
                            [(ngModel)]="password"
                            name="password"
                            class="form-control input-underline input-lg"
                            type="password"
                        />
                    </div>

                    <div class="form-group" *ngIf="messageShow">
                        <label for="">
                            <span class="custom-login-error-message">{{ message }}</span>
                        </label>
                    </div>
                </div>
                <a (click)="onLoggedin()" class="btn rounded-btn">
                    {{'Ingresar'}}
                </a>
            </form>
        </div>
    </div>
</div>
