// ======= ======= STYLES.SCSS ======= =======
// This file contain the standard styles for the project
// ======= ======= ======= ======= =======

// ======= ======= COLOR PALETTE ======= =======
$primary-color: #4E8646;
$secondary-color: #d67600;
$third-color: #c64d27;

$bg-1-color: #94a12d;
$bg-2-color: #f5a000;
$bg-3-color: #fdc82f;
$bg-4-color: #a3ac48;
$bg-5-color: #878786;
$bg-6-color: rgba(135, 135, 134, 0.5);
$bg-7-color: rgba(135, 135, 134, 0.25);

$txt-1-color: #3f3e3e;
$txt-2-color: #ffffff;
// ======= ======= ======= ======= =======
// ======= ======= BIG BUTTON STYLES ======= =======
.btn-bg-1{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: $txt-2-color;
    background: $primary-color;
    border: 2px solid $txt-2-color;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}
.btn-bg-2{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: $txt-2-color;
    background: $secondary-color;
    border: 2px solid $txt-2-color;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}
.btn-bg-3{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: $txt-2-color;
    background: $third-color;
    border: 2px solid $txt-2-color;
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.btn-outline-bg-1{
    color: $primary-color;
    border: 2px dashed $primary-color;
    font-size: 12px;
}
.btn-outline-bg-2{
    color: $secondary-color;
    border: 2px dashed $secondary-color;
    font-size: 12px;
}
.btn-outline-bg-3{
    color: $third-color;
    border: 2px dashed $third-color;
    font-size: 12px;
}

.btn-outline-bg-1-selected{
    color: $txt-2-color;
    background: $primary-color;
    border: 2px dashed $txt-2-color;
    font-size: 12px;
}
.btn-outline-bg-2-selected{
    color: $txt-2-color;
    background: $secondary-color;
    border: 2px dashed $txt-2-color;
    font-size: 12px;
}
.btn-outline-bg-3-selected{
    color: $txt-2-color;
    background: $third-color;
    border: 2px dashed $txt-2-color;
    font-size: 12px;
}
// ======= ======= ======= ======= =======
// ======= ======= BUTTON STYLES ======= =======
.btn-view-bg-1{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: $txt-2-color;
    background: $primary-color;
    border: 2px solid $txt-2-color;
    font-size: 12px;
    line-height: 30px;
    padding: 0 10px;
}
.btn-view-bg-2{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: $txt-2-color;
    background: $secondary-color;
    border: 2px solid $txt-2-color;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
}
.btn-view-bg-3{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: $txt-2-color;
    background: $third-color;
    border: 2px solid $txt-2-color;
    font-size: 12px;
    line-height: 40px;
    padding: 0 10px;
}
// ======= ======= ======= ======= =======
// ======= ======= CUSTOM TABLE ======= =======
.custom-table{
    font-size: 12px;
    table-layout: auto;
    background-color: #ffffff;

    th, td {
        padding: 10px;
        text-align: left;
        vertical-align: middle;
    }
    th {
        background-color: $bg-3-color;
        font-weight: bold;
    }
    tr:hover {
        background-color: #f9f9f9;
    }
    .table-responsive {
        overflow-x: auto;
    }
}

.custom-fit-head{
    width: auto !important; 
    white-space: nowrap !important;
}

.custom-fit-col{
    white-space: nowrap !important;
}
  
.custom-toggle-button {
  margin-left: 10px;
  cursor: pointer;
}
// ======= ======= ======= ======= =======
// ======= ======= CUSTOM MODAL ======= =======
.modal-title{
    color: $primary-color;
    font-weight: bold;
}
.modal-body{
    color: $primary-color;
    font-weight: bold;
}
.custom-form-lable{
    color: $primary-color;
    font-weight: bold;
}
.custom-form-separator{
    width: 95%;
    height: 0px;
    border-top: $txt-1-color 1px solid;
}
select.form-control {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}
.custom-form-checkbox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    & + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
  
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 20px;
          width: 20px;
          border: 2px solid $primary-color;
          background-color: $txt-2-color;
          transition: background-color 0.2s ease, border-color 0.2s ease;
        }
      }
  
      // Estado marcado
      &:checked + label:before {
        background-color: $primary-color;
        border-color: $primary-color;
      }
  
      // El check visual (simple línea)
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: 6px;
        height: 12px;
        border: solid $txt-2-color;
        border-width: 0 2px 2px 0;
      }
  
      & + label:hover:before {
        border-color: $secondary-color;
      }
}
.custom-form-lable-checkbox{
    color: $secondary-color;
    font-size: 1rem;
    font-weight: bold;
}
// ======= ======= ======= ======= =======
// ======= ======= SOME CUSTOMS ======= =======
.custom-alert-message{
    font-size: 15px;
    color: #cc2222;
}
.custom-login-error-message{
    color: $third-color;
    font-weight: bold;
}
.custom-view-title{
    color: $primary-color;
    font-weight: bold;
}
.custom-card{
    background-color: $bg-7-color;
}
.custom-settings{
    background-color: $bg-1-color;
}
.custom-settings-item{
    background-color: $bg-1-color;
}
.custom-body-header{
    color: $primary-color;
}
.custom-info-cards{
    height: 3rem;
    border-radius: 10px;
    background-color: $primary-color;
    color: $txt-2-color;
    font-size: 12px;
}
.custom-checker{
    color: $primary-color;
}
.custom-checker-checked{
    color: $primary-color;
}
.custom-pos-qa{
    border-right: solid 1px $txt-2-color;
}
.custom-neg-qa{
    border-left: solid 1px $txt-2-color;
}
#imagen {
    max-width: 100%; 
    height: auto;
    display: block; 
  }
// ======= ======= ======= ======= =======
// ======= ======= CUSTOM INF PROYECTO ======= =======
.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 150px;
    grid-template-rows: repeat(5, auto);
    gap: 5px;
}

.data-project-section{
    grid-column: 1 / span 4;
    grid-row: 1;
}

.custom-buttons-section {
    grid-column: 5;
    grid-row: 1 / span 2;

    button{
        margin-top: 5px;

        padding-left: 1em;
        padding-right: 1em;

        font-size: 12px;
    }
}

.custom-date-section {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.b {
    grid-column: 3 / span 2;
    grid-row: 2;
}

.custom-location-section {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
}

.c {
    grid-column: 3 / span 3;
    grid-row: 3 / span 3;
}

.custom-obj-pool{
    border: solid 3px $primary-color;
    border-radius: 3px;
    background-color: $txt-2-color;
}

.custom-info-proy-input{
    padding-left: 5px;
    padding-right: 5px;

    font-size: 12px;
}
.custom-info-proy-title{
    color: $primary-color;
    font-weight: bold;
    font-size: 15px;
}
.custom-info-proy-sub-title{
    color: $primary-color;
    font-weight: bold;
    font-size: 12px;
}
.custom-info-section-separator{
    border-right: solid 1px $primary-color;
}
.custom-info-estado-box{
    padding: 5px;
    border-radius: 2px;
    background-color: $third-color;
    color: $txt-2-color;
}
.custom-date-section-y-separator{
    border-right: solid 1px $primary-color;
}
.custom-date-section-x-separator{
    border-bottom: solid 1px $primary-color;
}
.custom-date-section-col{
    div{
        padding: 5px;
    }
}
.custom-date-diference{
    border-radius: 5px;
    background-color: $txt-2-color;
}
.custom-btn-info{
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2;
}
.custom-obj-container{
    border-radius: 4px;
    border: solid 4px rgba(0,0,0,0);
    cursor: pointer;
}
.custom-obj-container-1-selected{
    border-radius: 4px;
    border: dashed 4px $primary-color;
    cursor: pointer;
}
.custom-obj-container-2-selected{
    border-radius: 4px;
    border: dashed 4px $secondary-color;
    cursor: pointer;
}
.custom-info-text-box{
    padding: 5px;
    border-radius: 2px;
    background-color: $third-color;
    color: $txt-2-color;
}
.custom-table-info-proy{
    font-size: 10px;
    overflow-y: auto;

    thead {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    tbody {
        display: block;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    th{
        padding: 1em;
    }

    td {
        padding: 5px;
    }
}
.custom-table-info-proy-1{
    max-height: 150px;

    tbody {
        max-height: 150px;
    }

    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}
.custom-table-info-proy-2{
    max-height: 300px;

    tbody {
        max-height: 300px;
    }

    tbody tr {
        width: 100%;
        table-layout: fixed;
    }
}

.custom-table-info-proy-3{
    font-size: 10px;
    max-height: 150px;

    tbody {
        max-height: 150px;
    }
}

.custom-obligacion-progress-bar{
    width: 100%;
    height: 20px;

    border: 2px solid black;
    border-radius: 5px;
    
    background-color: #f5f5f5;
    overflow: hidden;
}

.custom-obligacion-progress-fill{
    height: 100%;
    background-color: green;
    transition: width 0.3s ease-in-out;
}

// ======= ======= ======= ======= =======
.custom-text-color-1{
    color: $primary-color;
}
.custom-text-color-3{
    color: $third-color;
}
.custom-logro-container{
    border-radius: 2px;
    border: solid 2px rgba(0,0,0,0);
    cursor: pointer;
}
.custom-logro-container-selected{
    border-radius: 2px;
    border: dashed 2px $third-color;
    cursor: pointer;
}
.custom-img-selector{
    cursor: pointer;
}
.custom-icon-selector{
    border-radius: 2px;
    border: dashed 2px rgba(0,0,0,0);
    cursor: pointer;
}
.custom-icon-selected{
    border-radius: 2px;
    border: dashed 2px $third-color;
    cursor: pointer;
}
