<div [@routerTransition]>
    <!-- ======= ======= ======= ADD PERSONA ROLES MDOAL ======= ======= ======= -->
    <div class="row">
        <div class="col col-md-6 custom-body-header">
            <app-bodyHeader></app-bodyHeader>
        </div>
        <div class="col col-md-6">
            <div class="row">
                <div class="col col-md-3 m-1 d-flex justify-content-center align-items-center custom-info-cards">
                    {{headerDataNro01}} Personas
                </div>
                <div class="col col-md-3 m-1 d-flex justify-content-center align-items-center custom-info-cards">
                    {{headerDataNro02}} Proyectos
                </div>
                <div class="col col-md-3 m-1 d-flex justify-content-center align-items-center custom-info-cards">
                    {{headerDataNro03}} Administrador de Sistema
                </div>
                <div class="col col-md-3 m-1 d-flex justify-content-center align-items-center custom-info-cards">
                    {{headerDataNro04}} Responsables de Proyecto
                </div>
            </div>
        </div>
    </div>
    <!-- ======= ======= ======= ======= ======= ======= ======= -->
    <!--app-page-header [heading]="'Persona y Roles'" [icon]="'fa-table'"></app-page-header-->
    <div class="row">
        <div class="col col-md-12">
            <h2 class="custom-view-title">Persona y Roles</h2>
        </div>
    </div>
    <!-- ======= ======= ======= ADD PERSONA ROLES MDOAL ======= ======= ======= -->
    <div class="card mb-3">
        <div class="card-body custom-card table-responsive">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 text-end">
                    <button type="button" class="btn btn-view-bg-1" 
                        (click)="initAddPersonaRoles(personaRolesFormModal)"
                        [disabled]="personaRolesSelected">
                        <i class="fa fa-plus" aria-hidden="true"></i> Añadir
                    </button>
                    <button type="button" class="btn btn-view-bg-1" 
                        (click)="initEditPersonaRoles(personaRolesFormModal)"
                        [disabled]="!personaRolesSelected">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                    </button>
                    <button type="button" class="btn btn-view-bg-1" 
                        (click)="initDeletePersonaRoles(deletePersonaRolesModal)"
                        [disabled]="!personaRolesSelected">
                        <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="container mt-4">
                    <table class="table custom-table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido 1</th>
                                <th>Apellido 2</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Usuario</th>
                                <th>Unidad</th>
                                <th>Es Resp.</th>
                                <th>Cargo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let personaRol of personasRolesTable; let i = index">
                                <td>
                                    <input type="checkbox" [(ngModel)]="personaRol.selected"
                                        (change)="checkboxChanged(personaRol)" id="checkbox-{{ i }}" name="checkbox-{{ i }}"/>
                                </td>
                                <td>{{ personaRol.id_persona }}</td>
                                <td>{{ personaRol.nombres }}</td>
                                <td>{{ personaRol.apellido_1 }}</td>
                                <td>{{ personaRol.apellido_2 }}</td>
                                <td>{{ personaRol.telefono }}</td>
                                <td>{{ personaRol.correo }}</td>
                                <td>{{ personaRol.usuario }}</td>
                                <td>{{ personaRol.unidad }}</td>
                                <td>
                                    <ng-container *ngIf="personaRol.id_persona == personaRol.id_persona_resp; else notEqual">
                                      <i class="fa fa-check-circle-o mx-auto custom-checker-checked" aria-hidden="true"></i>
                                    </ng-container>
                                    <ng-template #notEqual>
                                      <i class="fa fa-circle-o mx-auto custom-checker" aria-hidden="true"></i>
                                    </ng-template>
                                  </td>
                                <td>{{ personaRol.cargo }}</td>
                            </tr>
                        </tbody>
                    </table>
                  
                    <div class="d-flex justify-content-center">
                        <ngb-pagination 
                            [(page)]="mainPage" 
                            [pageSize]="mainPageSize" 
                            [collectionSize]="totalLength"
                            [maxSize]="3"
                            [rotate]="true"
                            [boundaryLinks]="true">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= ======= ======= ======= ======= ======= ======= -->
</div>

<!-- ======= ======= ======= ADD PERSONA ROLES MDOAL ======= ======= ======= -->
<ng-template #personaRolesFormModal let-modal class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form #personaRolesForm="ngForm" (ngSubmit)="onSubmit(personaRolesForm)">
            <div class="row">
                <div class="col col-xl-7 col-lg-7">
                    <div class="card mb-3">
                        <div class="card-body custom-card">
                            <div class="row">
                                <!-- ======= ======= NOMBRE SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="nombres">Nombre</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el nombre"
                                        id="nombres" name="nombres" [(ngModel)]="nombres" />
                                </div>
                                <!-- ======= ======= APELLIDO 1 SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="apellido_1">Primer Apellido</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el primer apellido"
                                        id="apellido_1" name="apellido_1" [(ngModel)]="apellido_1" />
                                </div>
                                <!-- ======= ======= APELLIDO 2 SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="apellido_2">Segundo Apellido</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el segundo apellido"
                                        id="apellido_2" name="apellido_2" [(ngModel)]="apellido_2" />
                                </div>
        
                                <!-- ======= ======= NRO DOCUMENTO SECTION ======= ======= -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="nro_documento">Numero de documento de identificacion</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el numero de documento"
                                        id="nro_documento" name="nro_documento" [(ngModel)]="nro_documento" />
                                </div>
                                <!-- ======= ======= TIPO DOCUMENTO SECTION ======= ======= -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="idp_tipo_documento">Tipo de Documento</label>
                                    <select class="form-control" id="idp_tipo_documento" name="idp_tipo_documento" [(ngModel)]="idp_tipo_documento">
                                        <option value="" disabled selected>Selecciona un rol</option>
                                        <option *ngFor="let tipo of tipoDoc" [value]="tipo.id_subtipo">{{ tipo.descripcion_subtipo }}</option>
                                    </select>
                                </div>
        
                                <!-- ======= ======= NRO TELEFONO SECTION ======= ======= -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="telefono">Numero de telefono</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el numero de telefono"
                                        id="telefono" name="telefono" [(ngModel)]="telefono" />
                                </div>
                                <!-- ======= ======= CORREO ELECTRONICO SECTION ======= ======= -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="correo">Correo electronico</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el correo electronico"
                                        id="correo" name="correo" [(ngModel)]="correo" />
                                </div>
        
                                <div class="custom-form-separator mx-auto my-3"></div>
                                
                                <!-- ======= ======= UNIDAD SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="unidad">Unidad</label>
                                    <select class="form-control" id="id_inst_unidad" name="id_inst_unidad" [(ngModel)]="id_inst_unidad">
                                        <option value="" disabled selected>Selecciona una unidad</option>
                                        <option *ngFor="let unidad of unidades" [value]="unidad.id_inst_unidad">{{ unidad.unidad }}</option>
                                    </select>
                                </div>
                                <!-- ======= ======= CARGO SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="cargo">Cargo</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el cargo del usuario"
                                        id="cargo" name="cargo" [(ngModel)]="cargo" />
                                </div>
                                <!-- ======= ======= RESPONSABLE SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <input class="form-check-input custom-form-checkbox" type="checkbox" id="responsable" name="responsable" [(ngModel)]="responsable">
                                    <label class="form-check-label custom-form-lable-checkbox" for="responsable">Es responsable de unidad</label>
                                </div>
        
                                <div class="custom-form-separator mx-auto my-3"></div>
                                
                                <!-- ======= ======= USUARIO SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="usuario">Usuario</label>
                                    <input class="form-control" type="text" placeholder="Ingrese el nombre de usuario"
                                        id="usuario" name="usuario" [(ngModel)]="usuario" />
                                </div>
                                <!-- ======= ======= CONTRASENIA SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="contrasenia">Contraseña</label>
                                    <input class="form-control" type="text" placeholder="Ingrese la contraseña del usuario"
                                        id="contrasenia" name="contrasenia" [(ngModel)]="contrasenia" />
                                </div>
                                <!-- ======= ======= LOGEADO SECTION ======= ======= -->
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="logedBy">Logeo por</label>
                                    <input class="form-control" type="text" 
                                        id="logedBy" name="logedBy" [(ngModel)]="logedBy" disabled/>
                                </div>

                                <div class="custom-form-separator mx-auto my-3"></div>

                                <!-- ======= ======= PROYECTO ROL SECTION ======= ======= -->
                                <table class="table custom-table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Proyecto</th>
                                            <th>Rol</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let proyecto of proyectosTable; let i = index">
                                            <td>{{ proyecto.id_proyecto }}</td>
                                            <td>{{ proyecto.proyecto }}</td>
                                            <td>
                                                <select class="form-control" id="rol-{{ i }}" name="rol-{{ i }}" [(ngModel)]="proyecto.rol" 
                                                    (change)="personaProyectoRolChange($event, proyecto)">
                                                    <option value="" disabled selected>...</option>
                                                    <option *ngFor="let rol of roles" [value]="rol.descripcion_subtipo">
                                                        {{ rol.descripcion_subtipo }}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-5 col-lg-5">
                    <!-- ======= ======= IMAGE SECTION ======= ======= -->
                    <div class="card mb-3">
                        <div class="card-body custom-card">
                            <img src="../../../assets/images/empty.jpg" alt="formImg" style="width: 100%;">
                            <input type="file" id="fileImg" (change)="onFileSelected($event)" class="form-control" />
                        </div>
                    </div>
                    <!-- ======= ======= ADMINISTRA SECTION ======= ======= -->
                    <div class="col col-xl-4 col-lg-4 mx-auto">
                        <input class="form-check-input custom-form-checkbox" type="checkbox" id="admi_sistema" name="admi_sistema" [(ngModel)]="admi_sistema">
                        <label class="form-check-label custom-form-lable-checkbox" for="admi_sistema">Administra Sistema</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%;">
            <!-- ======= ======= BUTTONS SECTION ======= ======= -->
            <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
            </button>
            <button type="button" class="btn btn-bg-1" [disabled]="personaRolesForm.invalid" (click)="onSubmit(); modal.close('Añadir')">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Añadir
            </button>
        </div>
    </div>
</ng-template>
<!-- ======= ======= ======= ======= ======= ======= ======= -->
<!-- ======= ======= ======= DELETE PERSONA MODAL ======= ======= ======= -->
<ng-template #deletePersonaRolesModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Persona</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" style="width: 100%;">
            <p>Esta seguro de querer eliminar el registro de esta persona?</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%;">
            <!-- ======= ======= BUTTONS SECTION ======= ======= -->
            <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
            </button>
            <button type="button" class="btn btn-bg-1" (click)="editPersona(); modal.close('Añadir')">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Eliminar
            </button>
        </div>
    </div>
</ng-template>
<!-- ======= ======= ======= ======= ======= ======= ======= -->
