<div class="row">
    <div class="col col-md-3 mx-auto">
        <img src="../../../../assets/images/exam.jpeg" style="border-radius: 45%; object-fit: cover;" height="80" width="80" alt="Sin imagen" />
    </div>
    <div class="col col-md-6 mx-auto">
        <span class="pt-4 titulo">Bienvenido(a): </span>
        <span>
            <select class="form-control form-control-sm custom-select" id="roles" name="roles">
                <option value="" selected disabled>Elige un proyecto</option>
                <option value="admin">Administrador</option>
                <option value="editor">Editor</option>
                <option value="viewer">Espectador</option>
                <option value="guest">Invitado</option>
            </select>
        </span>
        <span class="pt-4 titulo">Rol: </span>
    </div>
    <div class="col col-md-3 mx-auto">
        <img src="../../../../assets/images/exam2.jpg" style="border-radius: 45%; object-fit: cover;" height="80" width="80" alt="Sin imagen" />
    </div>
</div>