<div [@routerTransition]>
    <!-- Encabezado -->
    <div class="row col-md-12">
        <div class="col col-md-6 align-items-center custom-body-header">
            <app-bodyHeader (selectionChange)="onChildSelectionChange($event)"> </app-bodyHeader>
        </div>

        <!-- Tarjetas de Estadísticas -->
        <div class="col col-md-6 text-center">
            <div class="row">
                <div
                    class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1"
                >
                    {{ headerDataNro01 }} Comunidades / Organizaciones
                </div>
                <div
                    class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1"
                >
                    {{ headerDataNro02 }} Mujeres beneficiadas
                </div>
                <div
                    class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1"
                >
                    {{ headerDataNro03 }} Hombres beneficiados
                </div>
                <div
                    class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1"
                >
                    {{ headerDataNro04 }} Aliados
                </div>
            </div>
        </div>
    </div>

    <!-- Tabla de Beneficiarios Alcanzados -->
    <div class="card mb-3" style="margin-top: 20px">
        <div class="card-body custom-card table-responsive">
            <!-- Encabezado y Botones -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="title" style="color: #4e8646">Beneficiarias/os Alcanzados</h2>
                <!-- Botones de Acción -->
                <div class="row">
                    <div class="d-flex col col-xl-12 col-lg-12 text-end">
                        <button type="button" class="btn btn-view-bg-1" (click)="openModal(beneficiariesModal)">
                            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
                        </button>
                        <button
                            type="button"
                            class="btn btn-view-bg-1"
                            [disabled]="!selectedBeneficiarios"
                            (click)="openModal(beneficiariesModal, selectedBeneficiarios)"
                        >
                            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                        </button>
                        <button
                            type="button"
                            class="btn btn-view-bg-1"
                            [disabled]="!selectedBeneficiarios"
                            (click)="openDeleteBeneficiarioModal(deleteBeneficiarioModal)"
                        >
                            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                        </button>
                    </div>
                </div>
            </div>
            <!-- Tabla de Beneficiarios -->
            <table class="table custom-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Municipio</th>
                        <th>Comunidad</th>
                        <th>Tipo de Organización</th>
                        <th>Organización</th>
                        <th>Actividad</th>
                        <th>Evento</th>
                        <th>Mujeres</th>
                        <th>Hombres</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let beneficiario of paginatedBeneficiarios">
                        <td>
                            <input
                                type="checkbox"
                                [(ngModel)]="beneficiario.selected"
                                (change)="checkboxChanged(beneficiario)"
                                id="checkbox-{{ i }}"
                            />
                        </td>
                        <td>{{ beneficiario.id }}</td>
                        <td>{{ beneficiario.fecha }}</td>
                        <td>{{ beneficiario.municipio }}</td>
                        <td>{{ beneficiario.comunidad }}</td>
                        <td>{{ beneficiario.tipoOrganizacion }}</td>
                        <td>{{ beneficiario.organizacion }}</td>
                        <td>{{ beneficiario.actividad }}</td>
                        <td>{{ beneficiario.evento }}</td>
                        <td>{{ beneficiario.mujeres }}</td>
                        <td>{{ beneficiario.hombres }}</td>
                        <td>{{ beneficiario.total }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Botones de tabla -->
            <div class="d-flex justify-content-center">
                <ngb-pagination
                    [(page)]="mainPage"
                    [pageSize]="mainPageSize"
                    [collectionSize]="totalLength"
                    [maxSize]="3"
                    [rotate]="true"
                    [boundaryLinks]="true"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #beneficiariesModal let-modal  class="custom-modal">
    <!-- Encabezado del Modal-->
    <div class="modal-header">
        <h4 class="modal-title">{{ selectedBeneficiarios ? 'Editar' : 'Añadir' }} Beneficiarios Alcanzados</h4>        
    </div>
    <!-- Cuerpo del Modal -->
    <div class="modal-body">
        <form [formGroup]="beneficiariesForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body custom-card">
                            <!-- ID y Fecha -->
                            <div class="row">
                                <div class="col col-xl-2 col-lg-2 mt-auto">
                                    <label for="id">Id</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        id="id"
                                        name="id"
                                        formControlName="id"
                                        class="form-control"
                                    />
                                </div>
                                <div class="col col-xl-6 col-lg-6 mt-auto"></div>
                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="fecha">Fecha de evento</label>
                                    <input type="date" formControlName="fecha" class="form-control" />
                                </div>
                            </div>

                            <div class="row">
                                <!-- Actividad y Evento -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="actividad">Pertenece a la Actividad</label>
                                    <select class="form-control" id="actividad" formControlName="actividad">
                                        <option value="" selected>Seleccione la Actividad</option>
                                        <option
                                            *ngFor="let actividad of actividades"
                                            [value]="actividad.actividad"
                                        >
                                            {{ actividad.actividad }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="evento">Evento</label>
                                    <input
                                        type="text"
                                        formControlName="evento"
                                        class="form-control"
                                        placeholder="Ingresa el evento"
                                    />
                                </div>
                                <div class="row">
                                    <div class="col col-xl-3 col-lg-3 mt-auto">
                                        <label for="departamento">Departamento</label>
                                        <select
                                            class="form-control"
                                            formControlName="departamento"
                                            (change)="onDepartamentoChange($event.target.value)"
                                        >
                                            <option value="" selected>Seleccione un departamento</option>
                                            <option *ngFor="let depto of departamentos" [value]="depto.nombre">
                                                {{ depto.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col col-xl-4 col-lg-4 mt-auto">
                                        <label for="municipio">Municipio</label>
                                        <select
                                            class="form-control"
                                            formControlName="municipio"
                                            [disabled]="!municipios.length"
                                            (change)="onMunicipioChange($event.target.value)"
                                        >
                                            <option value="" selected>Seleccione un municipio</option>
                                            <option *ngFor="let muni of municipios" [value]="muni.nombre">
                                                {{ muni.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col col-xl-3 col-lg-3 mt-auto">
                                        <label for="comunidad">Comunidad</label>
                                        <select
                                            class="form-control"
                                            formControlName="comunidad"
                                           
                                        >
                                            <option value="" selected>Seleccione una comunidad</option>
                                            <option
                                                *ngFor="let comunidad of comunidades"
                                                [value]="comunidad.nombre"
                                            >
                                                {{ comunidad.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col col-xl-1 col-lg-1 mt-auto">
                                        <button
                                            type="button"
                                            (click)="openModalUbicaciones(beneficiaUBIModal);"
                                            style="
                                                background-color: #d67600;
                                                color: white;
                                                border: none;
                                                border-radius: 30%;
                                                width: 35px;
                                                height: 35px;
                                                font-size: 15px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            "
                                        >
                                            +
                                        </button>
                                    </div>
                                </div>
                                <!-- Tipo de Organización y Organización -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="tipoOrganizacion">Tipo de Organización</label>
                                    <select class="form-control" formControlName="tipoOrganizacion">
                                     
                                        <option *ngFor="let tipo of tiposOrganizacion" [value]="tipo.nombre">
                                            {{ tipo.nombre }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="organizacion">Nombre de la Organización</label>
                                    <input
                                        type="text"
                                        formControlName="organizacion"
                                        class="form-control"
                                        placeholder="Ingresa el Nombre de la Organización"
                                    />
                                </div>
                                <!-- Detalle -->
                                <div class="col col-xl-12 col-lg-12 mt-auto">
                                    <label for="details">Detalle de evento</label>
                                    <textarea
                                        formControlName="details"
                                        class="form-control"
                                        placeholder="Ingresa el Detalle de evento"
                                    ></textarea>
                                </div>
                                <!-- Mujeres, Hombres y Total -->
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <label for="mujeres">Nro de Mujeres</label>
                                    <input
                                        type="number"
                                        formControlName="mujeres"
                                        class="form-control"
                                        min="0"
                                        placeholder="Ingresa el Nro de Mujeres"
                                    />
                                </div>
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <label for="hombres">Nro de Hombres</label>
                                    <input
                                        type="number"
                                        formControlName="hombres"
                                        class="form-control"
                                        min="0"
                                        placeholder="Ingresa el Nro de Hombres"
                                    />
                                </div>
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <label for="total">Total</label>
                                    <input
                                        type="number"
                                        formControlName="total"
                                        class="form-control"
                                        min="0"
                                        placeholder="Total al Grabar"
                                    />
                                </div>
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <button
                                        type="button"
                                        (click)="openModal(listaBeneficiariesModal, null, true)"
                                        style="
                                            background-color: #d67600;
                                            color: white;
                                            border: none;
                                            border-radius: 15%;
                                            width: 90px;
                                            height: 35px;
                                            font-size: 10px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                        "
                                    >
                                        Lista de Participantes
                                    </button>
                                </div>

                                <!-- Persona Registro -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="registeredBy">Persona Registro</label>
                                    <input
                                        type="text"
                                        id="registeredBy"
                                        formControlName="registeredBy"
                                        class="form-control"
                                        readonly
                                    />
                                </div>
                            </div>

                            <!-- Botones Cancelar y Guardar -->
                            <div class="modal-footer mt-3">
                                <div class="d-flex justify-content-center" style="width: 100%">
                                    <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-bg-1"
                                        (click)="onSubmit(); modal.close('Añadir')"
                                    >
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Grabar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>




<ng-template #beneficiaUBIModal let-modal class="custom-modal">
  <div class="modal-header">
    <h4 class="modal-title">Ubicación Geográfica</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="beneficiariesFormUbicacion" (ngSubmit)="saveLocationSelection()">
        <div class="row g-3">
        <div class="col col-xl-3 col-lg-3 mt-auto">
            <label for="departamento">Departamento</label>
            <select
                class="form-control"
                formControlName="departamento"
                (change)="onDepartamentoChange($event.target.value)"
            >
                <option value="" selected>Seleccione un departamento</option>
                <option *ngFor="let depto of departamentos" [value]="depto.nombre">
                    {{ depto.nombre }}
                </option>
            </select>
        </div>

        <div class="col col-xl-4 col-lg-4 mt-auto">
            <label for="municipio">Municipio</label>
            <select
                class="form-control"
                formControlName="municipio"
                [disabled]="!municipios.length"
                (change)="onMunicipioChange($event.target.value)"
            >
                <option value="" selected>Seleccione un municipio</option>
                <option *ngFor="let muni of municipios" [value]="muni.nombre">
                    {{ muni.nombre }}
                </option>
            </select>
        </div>

        <div class="col col-xl-3 col-lg-3 mt-auto">
            <label for="comunidad">Comunidad</label>
            <select
                class="form-control"
                formControlName="comunidad"
               
            >
                <option value="" selected>Seleccione una comunidad</option>
                <option
                    *ngFor="let comunidad of comunidades"
                    [value]="comunidad.nombre"
                >
                    {{ comunidad.nombre }}
                </option>
            </select>
        </div>
        </div>
        <div class="modal-footer mt-2 d-flex justify-content-center">
        <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
          <i class="fa fa-times"></i> Cancelar
        </button>
        <button type="button" class="btn btn-bg-1" (click)="saveLocationSelection();modal.close('Cerrar')">
          <i class="fa fa-check"></i> Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>
 
<ng-template #listaBeneficiariesModal let-modal class="custom-modal">
    <!-- Encabezado del Modal-->
    <div class="modal-header">
        <h4 class="modal-title">Lista de Beneficiarios</h4>        
    </div>
    <!-- Cuerpo del Modal -->
    <div class="modal-body">
        <form [formGroup]="beneficiariesForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body custom-card table-responsive">
                            <table class="table custom-table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Comunidad</th>
                                        <th>Doc.Iden.</th>
                                        <th>Nombre</th>
                                        <th>Rango edad</th>
                                        <th>Sexo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let persona of tablaPersonas">
                                        <td>{{ persona.id }}</td>
                                        <td>{{ persona.comunidad }}</td>
                                        <td>{{ persona.docIden }}</td>
                                        <td>{{ persona.nombreCompleto }}</td>
                                        <td>{{ persona.rangoEdad }}</td>
                                        <td>{{ persona.sexo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Botones Cancelar y Guardar -->
                            <div class="modal-footer mt-3">
                                <div class="d-flex justify-content-center" style="width: 100%">
                                    <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i> ok
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Tabla Aliados -->
<div class="card" style="margin-top: 20px">
    <div class="card-body custom-card table-responsive">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="title" style="color: #4e8646; font-size: 180%">Aliados</h2>
            <div class="row">
                <div class="d-flex col text-end">
                    <button type="button" class="btn btn-view-bg-1" (click)="openAliadoModal(aliadosModal)">
                        <i class="fa fa-plus"></i> Añadir
                    </button>
                    <button
                        type="button"
                        class="btn btn-view-bg-1 ms-2"
                        (click)="openAliadoModal(aliadosModal, selectedAliados)"
                        [disabled]="!selectedAliados"
                    >
                        <i class="fa fa-pencil"></i> Editar
                    </button>
                    <button
                        type="button"
                        class="btn btn-view-bg-1 ms-2"
                        [disabled]="!selectedAliados"
                        (click)="openDeleteAliadoModal(deleteAliadoModal)"
                    >
                        <i class="fa fa-trash"></i> Eliminar
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container mt-4">
                <table class="table custom-table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Institución / Organización</th>
                            <th>Nombre del Referente</th>
                            <th>Vínculo con los Resultados</th>
                            <th>Convenio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aliado of paginatedAliados">
                            <td>
                                <input
                                    type="checkbox"
                                    [(ngModel)]="aliado.selected"
                                    (change)="checkboxChangedAliado(aliado)"
                                    id="checkbox-{{ i }}"
                                />
                            </td>
                            <td>{{ aliado.id }}</td>
                            <td>{{ aliado.fecha }}</td>
                            <td>{{ aliado.institucion }}</td>
                            <td>{{ aliado.referente }}</td>
                            <td>{{ aliado.vinculo }}</td>
                            <td>{{ aliado.convenio }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center"></div>
            </div>
        </div>
        <!-- Paginación -->
        <div class="d-flex justify-content-center">
            <ngb-pagination
                [(page)]="mainPage"
                [pageSize]="mainPageSize"
                [collectionSize]="totalLength"
                [maxSize]="3"
                [rotate]="true"
                [boundaryLinks]="true"
            >
            </ngb-pagination>
        </div>
    </div>
</div>

<!-- Modal for Adding/Editing Aliados -->
<ng-template #aliadosModal let-modal class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">{{ selectedAliados ? 'Editar' : 'Añadir' }} Aliado</h4>        
    </div>

    <div class="modal-body">
        <form *ngIf="aliadosForm" [formGroup]="aliadosForm" (ngSubmit)="onSubmitAliadosForm()">
            <div class="card mb-3">
                <div class="card-body custom-card">
                    <div class="row">
                        <!--  -->
                        <div class="col col-xl-2 col-lg-2 mt-auto">
                            <label for="id">ID</label>
                            <input type="text" formControlName="id" class="form-control" readonly />
                        </div>
                        <!-- fecha de identificaion -->
                        <div class="col col-xl-5 col-lg-5 mt-auto"></div>
                        <div class="col col-xl-5 col-lg-5 mt-auto">
                            <label for="identificationDate">Fecha de identificación</label>
                            <input type="date" formControlName="identificationDate" class="form-control" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <!-- institucion u organizacion -->
                        <div class="col col-xl-6 col-lg-6 mt-auto">
                            <label for="tipoOrganizacion">Institución/Organización</label>
                            <select class="form-control"  formControlName="tipoOrganizacion"id="tipoOrganizacion" name="tipoOrganizacion">
                                <option value="" disabled selected>Seleccione una organización</option>
                                <option *ngFor="let tipo of organizacionTipo" [value]="tipo.organizacion">
                                    {{ tipo.organizacion }}
                                </option>
                            </select>
                        </div>
                        <!-- boton de + -->
                        <div class="col col-xl-2 col-lg-2 mt-auto">
                            <button
                                type="button"
                                (click)="openModal(organizacionModal)"
                                style="
                                    background-color: #d67600;
                                    color: white;
                                    border: none;
                                    border-radius: 30%;
                                    width: 35px;
                                    height: 35px;
                                "
                            >
                                +
                            </button>
                        </div>
                        <!-- nombre del referente -->
                        <div class="col col-xl-4 col-lg-4 mt-auto">
                            <label for="referentName">Nombre Referente</label>
                            <input
                                type="text"
                                formControlName="referentName"
                                class="form-control"
                                placeholder="Ingresa el Nombre"
                            />
                        </div>
                                <!--vinculo con resultado -->
                        <div class="col col-xl-12 col-lg-12 mt-auto">
                            <label for="resultsLink">Vínculo con Resultados</label>
                            <textarea
                                formControlName="resultsLink"
                                class="form-control"
                                placeholder="Ingresa Vínculo"
                            ></textarea>
                        </div>
                            <!-- convenio -->
                        <div class="col-md-6">
                            <label for="convenio">Convenio</label>
                            <select class="form-control" formControlName="convenio" id="convenio" name="convenio">
                                
                                <option *ngFor="let convenio of tiposConvenio" [value]="convenio.descripcion">
                                    {{ convenio.descripcion }}
                                </option>
                            </select>
                        </div>
                        <!-- persona registro -->
                        <div class="col col-xl-6 col-lg-6 mt-auto">
                            <label for="registeredByAliado">Persona Registro</label>
                            <input
                                type="text"
                                id="registeredByAliado"
                                formControlName="registeredByAliado"
                                class="form-control"
                                readonly
                            />
                        </div>

                        <div class="modal-footer">
                            <div class="d-flex justify-content-center" style="width: 100%">
                                <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                                    <i class="fa fa-times"></i> Cancelar
                                </button>
                                <button
                                type="button"
                                class="btn btn-bg-1"
                                (click)="onSubmitAliadosForm(); modal.close('Añadir')"
                            >
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Grabar
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- === nodale para creea una nueva organizacion  -->
<ng-template #organizacionModal let-modal class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">Añadir una nueva organización</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="organizacionForm" (ngSubmit)="saveLocationSelection()">
            <div class="row g-3">
                <!-- Institución -->
                <div class="col col-xl-6 col-lg-6 mt-auto">      
                    <label for="id_institucion" class="form-label">Institución</label>
                    <select
                        class="form-select"
                        formControlName="id_institucion"
                    >
                        
                        <option *ngFor="let inst of instituciones" [value]="inst.id_institucion">
                            {{ inst.institucion }}
                        </option>
                    </select>
                </div>
        
                <!-- Tipo de Organización -->
                <div class="col col-xl-6 col-lg-6 mt-auto">
                    <label for="id_tipo_organizacion">Tipo de Organización</label>
                    <select class="form-control" formControlName="id_tipo_organizacion">
                        <option *ngFor="let tipo of tiposOrganizacion" [value]="tipo.nombre">
                            {{ tipo.nombre }}
                        </option>
                    </select>
                </div>
        
                <!-- Nombre de la Organización -->
                <div class="col col-xl-6 col-lg-6 mt-auto">
                    <label for="organizacion">Nombre de la Organización</label>
                    <input
                        type="text"
                        formControlName="organizacion"
                        class="form-control"
                        placeholder="Ingresa el Nombre de la Organización"
                    />
                </div>
            </div>
        
            <div class="modal-footer mt-2 d-flex justify-content-center"> 
                <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                  <i class="fa fa-times"></i> Cancelar
                </button>
                <button type="button" class="btn btn-bg-1" (click)="onSubmitOrganize();modal.close('Cerrar')">
                  <i class="fa fa-check"></i> Guardar
                </button>
            </div>
        </form>
        
    </div>
</ng-template>

   
<!-- ====== ======= ======= DELETE PLANIFICACION ESTRATEGICA ======= ======= ======= -->
<ng-template #deleteBeneficiarioModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Beneficiario</h4>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" style="width: 100%">
            <p>¿Está seguro de querer eliminar el registro de Beneficiario?</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%">
            <!-- ======= Botones ======= -->
            <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
            </button>
            <button type="button" class="btn btn-bg-1" (click)="modal.close('Eliminar')">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Eliminar
            </button>
        </div>
    </div>
</ng-template>
<!-- ======= ======= ======= ======= ======= ======= ======= -->
<!-- ====== ======= ======= DELETE PLANIFICACION ESTRATEGICA ======= ======= ======= -->
<ng-template #deleteAliadoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Aliado</h4>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" style="width: 100%">
            <p>¿Está seguro de querer eliminar el registro de Aliado?</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%">
            <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
            </button>
            <button type="button" class="btn btn-bg-1" (click)="modal.close('Eliminar')">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Eliminar
            </button>
        </div>
    </div>
</ng-template>

<!-- ======= ======= ======= ======= ======= ======= ======= -->