<div [@routerTransition]>
    <!-- Encabezado -->
    <div class="row col-md-12">
        <div class="col col-md-6 align-items-center custom-body-header">
            <app-bodyHeader 
                (selectionChange)="onChildSelectionChange($event)">
            </app-bodyHeader>
        </div>

        <!-- Tarjetas de Estadísticas -->
        <div class="col col-md-6 text-center">
            <div class="row">
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{ headerDataNro01 }} Comunidades / Organizaciones
                </div>
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{ headerDataNro02 }} Mujeres beneficiadas
                </div>
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{ headerDataNro03 }} Hombres beneficiados
                </div>
                <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                    {{ headerDataNro04 }} Aliados
                </div>
            </div>
        </div>
    </div>
</div>

<div [@routerTransition]>
    <!-- Tabla de Beneficiarios Alcanzados -->
    <div class="card mb-3" style="margin-top: 20px">
        <div class="card-body custom-card table-responsive">
            <!-- Encabezado y Botones -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="title" style="color: #4e8646">Beneficiarias/os Alcanzados</h2>
                <!-- Botones de Acción -->
                <div class="row">
                    <div class="d-flex col col-xl-12 col-lg-12 text-end">
                        <button type="button" class="btn btn-view-bg-1"
                        [disabled]="(selectedBeneficiarios)||(currentPerProRol=='LEC')" 
                        (click)="openModal(beneficiariesModal)">
                            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
                        </button>
                        <button
                            type="button"
                            class="btn btn-view-bg-1"
                            [disabled]="(!selectedBeneficiarios)||(currentPerProRol=='LEC')"                            
                            (click)="openModal(beneficiariesModal, selectedBeneficiarios)"
                        >
                            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                        </button>
                        <button
                            type="button"
                            class="btn btn-view-bg-1"
                            [disabled]="(!selectedBeneficiarios)||(currentPerProRol=='LEC')"                            
                            (click)="openDeleteBeneficiarioModal(deleteBeneficiarioModal)"
                        >
                            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                        </button>
                    </div>
                </div>
            </div>
            <!-- Tabla de Beneficiarios -->
            <table class="table custom-table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">Fecha</th>
                        <th>Municipio</th>
                        <th>Comunidad</th>
                        <th>Tipo de Organización</th>
                        <th>Organización</th>
                        <th>Actividad</th>
                        <th>Evento</th>
                        <th>Mujeres</th>
                        <th>Hombres</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let beneficiario of paginatedBeneficiarios">
                        <td>
                            <input
                                type="checkbox"
                                [(ngModel)]="beneficiario.selected"
                                (change)="checkboxChanged(beneficiario)"
                                id="checkbox-{{ i }}"
                            />
                        </td>
                        <td style="text-align: center;">{{ beneficiario.id }}</td>
                        <td style="text-align: center;">{{ beneficiario.fecha }}</td>
                        <td>{{ beneficiario.municipio }}</td>
                        <td>{{ beneficiario.comunidad }}</td>
                        <td>{{ getOrganizacionTipo(beneficiario.idp_organizacion_tipo,beneficiariosOrganizacionTipo) }}</td>
                        <td>{{ getOrganizacion(beneficiario.id_organizacion,beneficiariosOrganizacion) }}</td>
                        <td>{{ getActividad(beneficiario.id_proy_actividad,beneficiariosActividad) }}</td>
                        <td>{{ beneficiario.evento }}</td>
                        <td>{{ beneficiario.mujeres }}</td>
                        <td>{{ beneficiario.hombres }}</td>
                        <td>{{ beneficiario.total }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Botones de tabla -->
            <div class="d-flex justify-content-center">
                <ngb-pagination
                    [(page)]="currentPageBeneficiarios"
                    [pageSize]="pageSizeBeneficiarios"
                    [collectionSize]="totalLengthBeneficiarios"
                    [maxSize]="3"
                    [rotate]="true"
                    [boundaryLinks]="true"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #beneficiariesModal let-modal  class="custom-modal">
    <!-- Encabezado del Modal-->
    <div class="modal-header">
        <h4 class="modal-title">{{ selectedBeneficiarios ? 'Editar' : 'Añadir' }} Beneficiarios Alcanzados</h4>        
    </div>
    <!-- Cuerpo del Modal -->
    <div class="modal-body">
        <form [formGroup]="beneficiariesForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body custom-card">
                            <!-- ID y Fecha -->
                            <div class="row">
                                <div class="col col-xl-2 col-lg-2 mt-auto">
                                    <label for="id">ID</label>
                                    <input
                                        class="form-control"
                                        type="text"
                                        id="id"
                                        name="id"
                                        formControlName="id"
                                       
                                    />
                                </div>
                                <div class="col col-xl-6 col-lg-6 mt-auto"></div>

                                <div class="col col-xl-4 col-lg-4 mt-auto">
                                    <label for="fecha">Fecha de evento</label>
                                    <input type="date" formControlName="fecha" class="form-control" />
                                    <small class="text-danger" *ngIf="beneficiariesForm.get('fecha')?.touched && beneficiariesForm.get('fecha')?.invalid">
                                        El campo fecha de evento es obligatorio.
                                      </small>
                                </div>
                            </div>

                            <div class="row">
                                <!-- Actividad y Evento -->
                                <div class="col col-xl-6 col-lg-6 mb-auto">
                                    <label for="id_proy_actividad">Pertenece a la Actividad</label>
                                    <select class="form-control" formControlName="id_proy_actividad" required>
                                        <option value="" disabled selected>Seleccione una Actividad</option>
                                        <option *ngFor="let actividad of beneficiariosActividad" 
                                                [value]="actividad.id_proy_actividad">
                                            {{ actividad.actividad }}
                                        </option>
                                    </select>
                                    <small class="text-danger" *ngIf="beneficiariesForm.get('id_proy_actividad')?.touched && beneficiariesForm.get('id_proy_actividad')?.invalid">
                                        El campo Actividad es obligatorio.
                                    </small>
                                </div>

                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="evento">Evento</label>
                                    <input
                                        type="text"
                                        formControlName="evento"
                                        class="form-control"
                                        placeholder="Ingresa el evento"
                                       
                                    />
                                    <small class="text-danger" *ngIf="beneficiariesForm.get('evento')?.touched && beneficiariesForm.get('evento')?.invalid">
                                        El campo evento es obligatorio.
                                    </small>
                                </div>
                                <div class="row">
                                    <div class="col col-xl-4 col-lg-4 mt-auto">
                                        <label for="departamento">Departamento</label>
                                        <select
                                            class="form-control"
                                            formControlName="departamento"
                                            (change)="onDepartamentoChange($event.target.value)"
                                        >
                                            <option value="" disabled selected hidden>Seleccione un departamento</option>
                                            <option *ngFor="let depto of departamentos" [value]="depto.nombre">
                                                {{ depto.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col col-xl-4 col-lg-4 mt-auto">
                                        <label for="municipio">Municipio</label>
                                        <select
                                            class="form-control"
                                            formControlName="municipio"
                                            [disabled]="!municipios.length"
                                            (change)="onMunicipioChange($event.target.value)"
                                        >
                                            <option value="" disabled selected hidden>Seleccione un municipio</option>
                                            <option *ngFor="let muni of municipios" [value]="muni.nombre">
                                                {{ muni.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col col-xl-3 col-lg-3 mt-auto">
                                        <label for="comunidad">Comunidad</label>
                                        <select
                                            class="form-control"
                                            formControlName="comunidad"
                                           
                                        >
                                            <option value="" disabled selected hidden>Seleccione una comunidad</option>
                                            <option
                                                *ngFor="let comunidad of comunidades"
                                                [value]="comunidad.nombre"
                                            >
                                                {{ comunidad.nombre }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="col col-xl-1 col-lg-1 mt-auto">
                                        <button
                                            type="button"
                                            (click)="openModalUbicaciones(beneficiaUBIModal);"
                                            style="
                                                background-color: #d67600;
                                                color: white;
                                                border: none;
                                                border-radius: 30%;
                                                width: 35px;
                                                height: 35px;
                                                font-size: 15px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                            "
                                        >
                                            +
                                        </button>
                                    </div>
                                </div>
                                <!-- Tipo de Organización y Organización -->
                                <div class="col col-xl-6 col-lg-6 mb-auto">
                                        <label for="idp_organizacion_tipo">Tipo de Organización</label>
                                        <select class="form-control" formControlName="idp_organizacion_tipo" required>
                                            <option value="" disabled selected>Seleccione un tipo de Organización</option>
                                            <option *ngFor="let tipo of beneficiariosOrganizacionTipo" [value]="tipo.id_subtipo">
                                                {{ tipo.descripcion_subtipo }}
                                            </option>
                                        </select>
                                        <small class="text-danger" *ngIf="beneficiariesForm.get('idp_organizacion_tipo')?.touched && beneficiariesForm.get('idp_organizacion_tipo')?.invalid">
                                            El campo Tipo de Organización es obligatorio.
                                        </small>                                         
                                </div>

                                <!-- ======= ======= ======= NOMBRE DE LA ORGANIZACIÓN ======= ======= ======= -->                                        
                                    <div class="col col-xl-5 col-lg-5 mb-auto">
                                        <label for="id_organizacion">Nombre de la Organización</label>
                                        <select class="form-control" formControlName="id_organizacion" required>
                                            <option value="" disabled selected>Seleccione el Nombre de la Organización</option>
                                            <option *ngFor="let organizacion of beneficiariosOrganizacion" 
                                                    [value]="organizacion.id_organizacion">
                                                {{ organizacion.organizacion }}
                                            </option>
                                        </select>
                                        <small class="text-danger" *ngIf="beneficiariesForm.get('id_organizacion')?.touched && beneficiariesForm.get('id_organizacion')?.invalid">
                                            El campo Organización es obligatorio.
                                        </small>
                                    </div>                                 
                                <!-- ======= ======= + ======= ======= --> 
                                <div class="col col-xl-1 col-lg-1 mt-4">
                                    <button type="button" (click)="openModalOrg(organizacionModal)"
                                        style=" background-color: #d67600;color: white;border: none; 
                                        border-radius: 30%; width: 35px;height: 35px;"> +
                                    </button>
                                </div> 
                                <!-- Detalle -->
                                <div class="col col-xl-12 col-lg-12 mt-auto">
                                    <label for="details">Detalle de evento</label>
                                    <textarea
                                        formControlName="details"
                                        class="form-control"
                                        placeholder="Ingresa el Detalle de evento"
                                    ></textarea>
                                    <small class="text-danger" *ngIf="beneficiariesForm.get('details')?.touched && beneficiariesForm.get('details')?.invalid">
                                        El campo Detalle de evento es obligatorio.
                                    </small>
                                </div>
                                <!-- Mujeres, Hombres y Total -->
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <label for="mujeres">Nro de Mujeres</label>
                                    <input
                                        type="number"
                                        formControlName="mujeres"
                                        class="form-control bg-gray-200"
                                        readonly
                                        placeholder="Nro de Mujeres"
                                    />
                                </div>
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <label for="hombres">Nro de Hombres</label>
                                    <input
                                        type="number"
                                        formControlName="hombres"
                                        class="form-control bg-gray-200"
                                        readonly
                                        placeholder="Nro de Hombres"
                                    />
                                </div>
                                <div class="col col-xl-3 col-lg-3 mt-auto">
                                    <label for="total">Total</label>
                                    <input
                                        type="number"
                                        formControlName="total"
                                        class="form-control bg-gray-200"
                                        readonly
                                        placeholder="Total"
                                        required
                                    />
                                </div>                                
                                <div class="col col-xl-3 col-lg-3 mt-auto d-flex justify-content-center">
                                    <button type="button" (click)="openModal(listaBeneficiariesModal, null, true)"
                                        style="background-color: #d67600; color: white; border: none;
                                               border-radius: 15px; width: 100%; max-width: 200px; height: 35px;
                                               padding: 10px 15px; font-size: 14px; font-weight: bold;
                                               display: flex; justify-content: center; align-items: center;">
                                        Lista de Participantes
                                    </button>
                                </div> 

                                <!-- Persona Registro -->
                                <div class="col col-xl-6 col-lg-6 mt-auto">
                                    <label for="registeredBy">Persona Registro</label>
                                    <input
                                        type="text"
                                        id="registeredBy"
                                        formControlName="registeredBy"
                                        class="form-control"
                                        readonly
                                    />
                                </div>
                            </div>

                            <!-- Botones Cancelar y Guardar -->
                            <div class="modal-footer mt-3">
                                <div class="d-flex justify-content-center" style="width: 100%">
                                    <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                                        <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                                    </button>
                                    <button type="button" class="btn btn-bg-1" (click)="onSubmit(); ">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Grabar
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>




<ng-template #beneficiaUBIModal let-modal class="custom-modal">
  <div class="modal-header">
    <h4 class="modal-title">Ubicación Geográfica</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="beneficiariesFormUbicacion" (ngSubmit)="saveLocationSelection()">
        <div class="row g-3">
        <div class="col col-xl-3 col-lg-3 mt-auto">
            <label for="departamento">Departamento</label>
            <select
                class="form-control"
                formControlName="departamento"
                (change)="onDepartamentoChange($event.target.value)"
            >
                <option value="" selected>Seleccione un departamento</option>
                <option *ngFor="let depto of departamentos" [value]="depto.nombre">
                    {{ depto.nombre }}
                </option>
            </select>
        </div>

        <div class="col col-xl-4 col-lg-4 mt-auto">
            <label for="municipio">Municipio</label>
            <select
                class="form-control"
                formControlName="municipio"
                [disabled]="!municipios.length"
                (change)="onMunicipioChange($event.target.value)"
            >
                <option value="" selected>Seleccione un municipio</option>
                <option *ngFor="let muni of municipios" [value]="muni.nombre">
                    {{ muni.nombre }}
                </option>
            </select>
        </div>

        <div class="col col-xl-3 col-lg-3 mt-auto">
            <label for="comunidad">Comunidad</label>
            <select
                class="form-control"
                formControlName="comunidad"
               
            >
                <option value="" selected>Seleccione una comunidad</option>
                <option
                    *ngFor="let comunidad of comunidades"
                    [value]="comunidad.nombre"
                >
                    {{ comunidad.nombre }}
                </option>
            </select>
        </div>
        </div>
        <div class="modal-footer mt-2 d-flex justify-content-center">
        <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
          <i class="fa fa-times"></i> Cancelar
        </button>
        <button type="button" class="btn btn-bg-1" (click)="saveLocationSelection();modal.close('Cerrar')">
          <i class="fa fa-check"></i> Guardar
        </button>
      </div>
    </form>
  </div>
</ng-template>
<!-- ====== ======= ======= DELETE PLANIFICACION ESTRATEGICA ======= ======= ======= -->
<ng-template #deleteBeneficiarioModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Beneficiario</h4>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" style="width: 100%">
            <p>¿Está seguro de querer eliminar el registro de Beneficiario?</p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center" style="width: 100%">
            <!-- ======= Botones ======= -->
            <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                <i class="fa fa-times" aria-hidden="true"></i> Cerrar
            </button>
            <button type="button" class="btn btn-bg-1" (click)="modal.close('Eliminar')">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Eliminar
            </button>
        </div>
    </div>
</ng-template>
<!-- ======= ======= ======= ======= ======= ======= ======= -->
 <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
 <ng-template #listaBeneficiariesModal let-modal class="custom-modal">
    <div class="modal-header">
        <h4 class="modal-title">Lista de Beneficiarios</h4>        
    </div>
    <div class="modal-body">
        <form [formGroup]="beneficiariesForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                        <div class="card-body custom-card table-responsive">
                            <table class="table custom-table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Comunidad</th>
                                        <th>Doc.Iden.</th>
                                        <th>Nombre</th>
                                        <th>Rango edad</th>
                                        <th>Sexo</th>
                                        <th>Acciones</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let persona of tablaPersonas">
                                        <td>{{ persona.id }}</td>
                                        <td>{{ persona.comunidad }}</td>
                                        <td>{{ persona.docIden }}</td>
                                        <td>{{ persona.nombreCompleto }}</td>
                                        <td>{{ persona.rangoEdad }}</td>
                                        <td>{{ persona.sexo }}</td>
                                        <td class="text-center">                                           
                                            <button 
                                                type="button" 
                                                class="btn btn-sm btn-danger" 
                                                (click)="deleteParticipante(persona.id)">
                                                <i class="fa fa-trash"></i>
                                            </button>                                                                                       
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="selectedBeneficiarios && !mostrarTablaParticipantes" class="alert alert-info" style="background-color: #78e36a;">
                                No hay participantes registrados.
                            </div>
                            <!-- Botón Añadir -->
                            <div class="modal-footer mt-3">
                                <div class="d-flex justify-content-end" style="width: 100%">
                                    <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                                        <i class="fa fa-times"></i> Cancelar
                                      </button>
                                    <button type="button" class="btn btn-bg-1"
                                        (click)="openParticipanteModal(participanteModal)">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Añadir
                                    </button>                                                                        
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #participanteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ participanteForm.get('id_proy_bene_lista')?.value ? 'Editar' : 'Nuevo' }} Participante</h4>
    
  </div>
  <div class="modal-body">
    <form [formGroup]="participanteForm" (ngSubmit)="onSubmitParticipante()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Documento de Identidad *</label>
            <input type="text" class="form-control" formControlName="num_doc_identidad"
                   [class.is-invalid]="participanteForm.get('num_doc_identidad')?.invalid && 
                                     participanteForm.get('num_doc_identidad')?.touched">
            <div class="invalid-feedback" *ngIf="participanteForm.get('num_doc_identidad')?.errors?.['required']">
              El documento de identidad es requerido
            </div>
            <div class="invalid-feedback" *ngIf="participanteForm.get('num_doc_identidad')?.errors?.['minlength']">
              El documento debe tener al menos 5 caracteres
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Nombre Completo *</label>            
            <input type="text" class="form-control" formControlName="nombre"
                   [class.is-invalid]="participanteForm.get('nombre')?.invalid && 
                                     participanteForm.get('nombre')?.touched">
            <div class="invalid-feedback" *ngIf="participanteForm.get('nombre')?.errors?.['required']">
              El nombre es requerido
            </div>
            <div class="invalid-feedback" *ngIf="participanteForm.get('nombre')?.errors?.['minlength']">
              El nombre debe tener al menos 3 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
            <div class="form-group">
              <label>Comunidad</label>         
              <input type="text" class="form-control" formControlName="comunidad" readonly>
            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Rango de Edad *</label>
            <select class="form-control" formControlName="idp_rango_edad"
                    [class.is-invalid]="participanteForm.get('idp_rango_edad')?.invalid && 
                                      participanteForm.get('idp_rango_edad')?.touched">
              <option value="">Seleccione...</option>
              <option *ngFor="let rango of rangosEdad" [value]="rango.id">
                {{rango.descripcion}}
              </option>
            </select>
            <div class="invalid-feedback">
              El rango de edad es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label>Sexo *</label>
            <div class="form-check mt-2">
              <input class="form-check-input" type="radio" formControlName="es_hombre" 
                     [value]="true" id="sexoHombre">
              <label class="form-check-label" for="sexoHombre">Hombre</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="es_hombre" 
                     [value]="false" id="sexoMujer">
              <label class="form-check-label" for="sexoMujer">Mujer</label>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-bg-3" (click)="modal.dismiss()">
          <i class="fa fa-times"></i> Cancelar
        </button>
        <button type="submit" class="btn btn-bg-1" [disabled]="participanteForm.invalid">
          <i class="fa fa-save"></i> 
          {{ participanteForm.get('id_proy_bene_lista')?.value ? 'Actualizar' : 'Guardar' }}
        </button>
      </div>        
    </form>
  </div>
</ng-template>





<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////  TABLA ALIADOS PROY-ALIADOS //////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div [@routerTransition]>
        <div class="card mb-3" style="margin-top: 20px">
            <div class="card-body custom-card table-responsive">
                <!-- Encabezado y Botones -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="title" style="color: #4E8646;">Aliados</h2>
                    <!-- Botones de Acción -->
                        <div class="row">
                            <div class="col col-xl-12 col-lg-12 text-end">
                                <button type="button" class="btn btn-view-bg-1" 
                                    (click)="initAddAliado(aliadosFormModal)"
                                    [disabled]="(aliadosSelected)||(currentPerProRol=='LEC')">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Añadir
                                </button>
                                <button type="button" class="btn btn-view-bg-1" 
                                    (click)="initEditAliado(aliadosFormModal)"
                                    [disabled]="(!aliadosSelected)||(currentPerProRol=='LEC')" >                                    
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                </button>
                                <button type="button" class="btn btn-view-bg-1" 
                                    (click)="initDeleteAliado(deleteAliadoModal)"
                                    [disabled]="(!aliadosSelected)||(currentPerProRol=='LEC')">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                                </button> 
                            </div>
                        </div>
                </div>

                <!-- Tabla de Aliados -->
                <div class="row">
                    <div class="container">
                        <table class="table custom-table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="text-align: center;">ID</th>
                                    <th style="text-align: center;">Fecha</th>
                                    <th>Institución / Organización</th>
                                    <th>Nombre del Referente</th>
                                    <th>Vínculo con los Resultados</th>
                                    <th>Convenio</th>
                                </tr>
                            </thead>
                            <!-- Cuerpo de la Tabla -->
                            <tbody>
                                <tr *ngFor="let aliado of aliadosTable; let i = index">
                                    <td>
                                        <input type="checkbox" 
                                            [(ngModel)]="aliado.selected" 
                                            (change)="checkboxChangedAliado(aliado)"
                                            id ="checkbox-{{ i }}" name = "checkbox-{{ i }}">
                                    </td>  
                                    <td style="text-align: center;">{{ aliado.id_proy_aliado }}</td>
                                    <td style="text-align: center;">{{ aliado.fecha | date:'dd/MM/yyyy' }}</td>
                                    <td>{{ getOrganizacion(aliado.id_organizacion, aliadosOrganizacion) }}</td>
                                    <td>{{ aliado.referente }}</td>
                                    <td>{{ aliado.vinculo }}</td>
                                    <td>{{ getDescripcionSubtipo(aliado.idp_convenio, aliadosConvenio) }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- Botones de tabla -->
                            <div class="d-flex justify-content-center">
                                <ngb-pagination 
                                [(page)]="mainPageAliados" 
                                [pageSize]="mainPageSizeAliados" 
                                [collectionSize]="totalLengthAliados"
                                [maxSize]="3"
                                [rotate]="true"
                                [boundaryLinks]="true">
                                </ngb-pagination>
                            </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- //////////////////////////////////////// MODAL PARA AÑADIR O EDITAR UN ALIADO  //////////////////////////////////////// -->
    <ng-template #aliadosFormModal let-modal class="custom-modal">
        <!-- Encabezado del Modal-->
        <div class="modal-header">
            <h4 class="modal-title">{{ modalTitleAliado }}</h4>        
        </div>
        <!-- Cuerpo del Modal-->
        <div class="modal-body">
            <form #aliadosForm="ngForm" (ngSubmit)="onSubmitAliados(aliadosForm)">
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="card mb-3">
                            <div class="card-body custom-card">
                                <div class="row">
                                    <!-- Primera Fila: ID, FECHA DE IDENTIFICACION-->
                                        <!-- ======= ======= ======= ID ======= ======= ======= -->
                                        <div class="col col-xl-2 col-lg-2 mb-auto">
                                            <label  for="id_proy_aliado">ID</label>
                                            <input  class="form-control" type="text" 
                                                    id="id_proy_aliado" name="id_proy_aliado" 
                                                    [(ngModel)]="id_proy_aliado" disabled/>
                                        </div>
                                        <!-- ======= ======= ======= ======= ======= ======= -->
                                        <div class="col col-xl-7 col-lg-7 mb-auto">                                        
                                        </div>
                                        <!-- ======= ======= FECHA DE IDENTIFICACION ======= ======= --> 
                                        <div class="col col-xl-3 col-lg-3 mb-auto">
                                            <label for="fecha">Fecha de identificación</label>
                                            <input class="form-control" type="date" 
                                                id="fecha" name="fecha" 
                                                [(ngModel)]="fecha"/>
                                        </div>
                                    <!-- Segunda Fila: INSTITUCION/ORGANIZACION, +, NOMBRE DE LA ORGANIZACION -->    
                                        <!-- ======= ======= INSTITUCION/ORGANIZACION ======= ======= -->
                                        <div class="col col-xl-4 col-lg-4 mb-auto">
                                            <label for="id_organizacion">Institución/Organización</label>
                                            <select class="form-control" id="id_organizacion" name="id_organizacion"
                                                [(ngModel)]="id_organizacion">
                                                <option value="" disabled selected>Seleccione una Institución/Organización</option>
                                                <option *ngFor="let organizacion of aliadosOrganizacion" [value]="organizacion.id_organizacion">
                                                {{ organizacion.organizacion }}
                                                </option>
                                            </select>
                                        </div>
                                        <!-- ======= ======= + ======= ======= --> 
                                        <div class="col col-xl-1 col-lg-1 mt-4">
                                            <button type="button" (click)="openModalOrg(organizacionModal)"
                                                style=" background-color: #d67600;color: white;border: none; 
                                                border-radius: 30%; width: 35px;height: 35px;"> +
                                            </button>
                                        </div>
                                        <!-- ======= ======= NOMBRE DE LA ORGANIZACION ======= ======= -->                                   
                                        <div class="col col-xl-6 col-lg-6 mb-auto">
                                            <label for="referente">Nombre Referente</label>
                                            <input  class="form-control" type="text" 
                                                id="referente" name="referente"  
                                                placeholder="Ingresa el nombre referente"
                                                [(ngModel)]="referente" (change)="ValidateReferente()"/> 
                                            <span class="custom-alert-message" *ngIf="!valReferente">Debe ingresar el nombre referente</span>       
                                        </div>
                                    <!-- Tercera Fila: VINCULO CON RESULTADO --> 
                                        <!-- ======= ======= VINCULO CON RESULTADO ======= ======= -->
                                        <div class="col col-xl-12 col-lg-12 mb-auto">
                                            <label for="vinculo">Vínculo con los Resultados</label>
                                            <textarea class="form-control" id="vinculo" name="vinculo"
                                                placeholder="Ingresa la descripción del Vínculo con los Resultados"
                                                [(ngModel)]="vinculo" (change)="ValidateVinculo()">
                                                <span class="custom-alert-message" *ngIf="!valVinculo">Debe ingresar la descripción del Vínculo</span>
                                            </textarea>                                        
                                        </div>
                                    <!-- Cuarta Fila: CONVENIO, PERSONA REGISTRO -->
                                        <!-- ======= ======= CONVENIO ======= ======= -->                                    
                                        <div class="col col-xl-6 col-lg-6 mb-auto">
                                            <label for="idp_convenio">Convenio</label>
                                            <select class="form-control" id="idp_convenio" name="idp_convenio"
                                                [(ngModel)]="idp_convenio" >
                                                <option value="" disabled selected>Seleccione un Convenio</option>
                                                <option *ngFor="let convenio of aliadosConvenio" [value]="convenio.id_subtipo">
                                                {{ convenio.descripcion_subtipo }}
                                                </option>
                                            </select>                                          
                                        </div>
                                        <!-- ======= ======= PERSONA REGISTRO ======= ======= -->                                    
                                        <div class="col col-xl-6 col-lg-6 mb-auto">
                                            <label for="aliados_persona_registro">Persona Registro</label>
                                            <input  class="form-control" type="text" 
                                                    id="aliados_persona_registro" name="aliados_persona_registro" 
                                                    [(ngModel)]="aliados_persona_registro" disabled/>
                                        </div>
                                        <!-- ======= ======= BUTTONS SECTION ======= ======= -->
                                        <div class="modal-footer">
                                            <div class="d-flex justify-content-center" style="width: 100%">
                                                <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                                                    <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                                                </button>
                                                <button type="button" class="btn btn-bg-1" 
                                                [disabled]="aliadosForm.invalid" (click)="onSubmitAliados();">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Grabar
                                                </button>
                                            </div>
                                        </div>             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>
<!-- //////////////////////////////////////// MODAL PARA DELETE ALIADO  //////////////////////////////////////// -->
    <ng-template #deleteAliadoModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Eliminar Aliado</h4>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center" style="width: 100%">
                <p>¿Está seguro de querer eliminar el registro de Aliado?</p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-center" style="width: 100%">
                <button type="button" class="btn btn-bg-3" (click)="closeModalAliado('Cerrar')">
                    <i class="fa fa-times" aria-hidden="true"></i> Cerrar
                </button>
                <button type="button" class="btn btn-bg-1" (click)="deleteAliado()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Eliminar
                </button>
            </div>
        </div>
    </ng-template>
<!-- //////////////////////////////////////// MODAL PARA AÑADIR NUEVA ORGANIZACION  //////////////////////////////////////// -->
    <ng-template #organizacionModal let-modal class="custom-modal">
        <!-- Encabezado del Modal-->
        <div class="modal-header">
            <h4 class="modal-title">Añadir una nueva organización</h4>
        </div>
        <!-- Cuerpo del Modal-->
        <div class="modal-body">
            <form #organizacionForm="ngForm" (ngSubmit)="onSubmitOrganizaciones(organizacionForm)">
                <div class="row">
                    <!-- Tipo de Organización -->
                    <div class="col col-xl-6 col-lg-6 mb-auto">
                        <label for="idp_tipo_organizacion">Tipo de Organización</label>
                        <select class="form-control" id="idp_tipo_organizacion" name="idp_tipo_organizacion"
                            [(ngModel)]="idp_tipo_organizacion" (change)="ValidateTipoOrganizacion()">
                            <option value="" disabled selected>Seleccione tipo de organización</option>
                            <option *ngFor="let tipo of orgTipoOrganizacion" [value]="tipo.id_subtipo">
                            {{ tipo.descripcion_subtipo }}
                            </option>
                        </select>
                        <span class="custom-alert-message" *ngIf="!valTipoOrganizacion">Debe elegir tipo de organización</span>
                    </div>
                    <!-- Nombre de la Organización -->
                    <div class="col col-xl-6 col-lg-6 mb-auto">
                        <label for="organizacion">Nombre de la Organización</label>
                        <input  class="form-control" type="text" 
                            id="organizacion" name="organizacion"  
                            placeholder="Ingresa el Nombre de la Organización"
                            [(ngModel)]="organizacion" (change)="ValidateOrganizacion()"/> 
                        <span class="custom-alert-message" *ngIf="!valOrganizacion">Debe ingresar el nombre de la Organización</span>       
                    </div>                
                </div>
            
                <div class="modal-footer mt-2 d-flex justify-content-center"> 
                    <button type="button" class="btn btn-bg-3" (click)="closeModalOrg()">
                    <i class="fa fa-times"></i> Cancelar
                    </button>
                    <button type="submit" 
                                class="btn btn-bg-1" 
                                [disabled]="!valTipoOrganizacion || !valOrganizacion">
                            <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </form>
            
        </div>
    </ng-template>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->