@import '../../../styles/styles.scss';

/* Impacto formas y colores */
.impacto-button {
  display: flex;
  justify-content: center;  
  align-items: center;      
  width: 80px;            
  height: 30px;
  margin: 0 auto;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  }
  .impacto-alto {
    background-color: #c64d27;
  }
  .impacto-medio {
    background-color: #fdc82f;
  }
  .impacto-bajo {
    background-color: #4E8646;
  }
  

  /* Probabilidad formas y colores */
  .probabilidad-shape {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
  .probabilidad-alto {
    width: 25px;
    height: 25px; 
    transform: rotate(45deg); 
    border-bottom: 25px solid #c64d27;
  }
  .probabilidad-medio {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #fdc82f; 
  }
  .probabilidad-bajo {
    border-radius: 50%;
    background-color: #4E8646;
  }
  
/* Nivel de Riesgo formas y colores */
  .riesgo-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }
  .riesgo-alto {
    background-color: #c64d27;
  }
  .riesgo-medio {
    background-color: #fdc82f;
  }
  .riesgo-bajo {
    background-color: #4E8646;
  }

  .symbol {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; 
    color: white; 
  }
  