<div [@routerTransition]>

  <!-- Encabezado -->
  <div class="row col-md-12">   
      <div class="col col-md-6 align-items-center custom-body-header">
        <app-bodyHeader></app-bodyHeader>
      </div>
    
      <!-- Tarjetas de Estadísticas -->
      <div class="col col-md-6 text-center">
        <div class="row">
          <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
            {{headerDataNro01}} Riesgo(s) Alto(s)
          </div>
          <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
            {{headerDataNro02}} Riesgo(s) Medio(s)
          </div>
          <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
            {{headerDataNro03}} Riesgo(s) Bajo(s)
          </div>
          <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
            {{headerDataNro04}} A tomar medidas
          </div>
        </div>
      </div>
  </div>

<!-- Tabla -->
<div class="card mb-3" style="margin-top: 10px;">
  <div class="card-body custom-card table-responsive">
    <!-- Encabezado y Botones -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="title" style="color: #4E8646;">Gestión de Riesgos</h2>

      <!-- Botones de Acción -->
      <div class="row">
        <div class="col col-xl-12 col-lg-12 text-end">
          <button type="button" class="btn btn-view-bg-1" 
            (click)="initAddRiesgo(riesgoModal)">
            <i class="fa fa-plus" aria-hidden="true"></i> Añadir
          </button>
          <button type="button" class="btn btn-view-bg-1" 
          (click)="initEditRiesgo(riesgoModal)"
          [disabled]="!riesgoSelected">
            <i class="fa fa-pencil" aria-hidden="true"></i> Editar
          </button>
          <button type="button" class="btn btn-view-bg-1" 
          (click)="initDeleteRiesgo()"
          [disabled]="!riesgoSelected">
            <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
          </button>
        </div>
      </div>
    </div>

    <!-- Tabla de Riesgo -->
    <table class="table custom-table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th style="text-align: center;">ID</th>
          <th>CATEGORÍA</th>
          <th style="text-align: center;">IDENTIFICACIÓN</th>
          <th>RIESGO/SUPUESTO/HIPÓTESIS</th>
          <th style="text-align: center;">IMPACTO</th>
          <th style="text-align: center;">PROBABILIDAD</th>
          <th style="text-align: center;">NIVEL DE RIESGO</th>
          <th style="text-align: center;">TOMAR MEDIDAS</th>
          <th>EFECTIVIDAD</th>
          <th>COMENTARIOS</th>
        </tr>
      </thead>

      <!-- Cuerpo de la Tabla -->
      <tbody>
        <tr *ngFor="let riesgo of riesgosTable; let i = index" >
          <td>
            <input type="checkbox" 
                  [(ngModel)]="riesgo.selected" 
                  (change)="checkboxChanged(riesgo)"
                  id ="checkbox-{{ i }}" name = "checkbox-{{ i }}">
          </td>     
          <td style="text-align: center;" >{{ riesgo.id_riesgo }}</td>
          <td>{{ getDescripcionSubtipo(riesgo.idp_categoria, riesgoCategoria) }}</td>
          <td style="text-align: center;">{{ riesgo.fecha }}</td>
          <td>{{ riesgo.riesgo }}</td>
          <td>
            <div class="impacto-button" [ngClass]="{
              'impacto-alto': mapNivel(riesgo.impacto)  === 'Alto',
              'impacto-medio':mapNivel(riesgo.impacto)  === 'Medio',
              'impacto-bajo':  mapNivel(riesgo.impacto) === 'Bajo'
            }">
              {{ mapNivel(riesgo.impacto) }}
            </div>
          </td>
          <td>
            <div class="probabilidad-shape" [ngClass]="{
              'probabilidad-alto':mapNivel(riesgo.probabilidad) === 'Alto',
              'probabilidad-medio':mapNivel(riesgo.probabilidad)=== 'Medio',
              'probabilidad-bajo':mapNivel(riesgo.probabilidad) === 'Bajo'}">
            </div>
          </td>
          <td>
            <div class="riesgo-circle"
             [ngClass]="{
              'riesgo-alto': mapNivel(riesgo.nivel) === 'Alto',
              'riesgo-medio':mapNivel(riesgo.nivel) === 'Medio',
              'riesgo-bajo': mapNivel(riesgo.nivel) === 'Bajo'}">
              <span *ngIf="mapNivel(riesgo.nivel) === 'Alto'" class="symbol">X</span>
              <span *ngIf="mapNivel(riesgo.nivel) === 'Medio'" class="symbol">!</span>
              <span *ngIf="mapNivel(riesgo.nivel) === 'Bajo'" class="symbol">✓</span>
            </div>
          </td>
          <td style="text-align: center;">{{ riesgo.medidas }}</td>
          <td>{{ getDescripcionSubtipo(riesgo.idp_efectividad, riesgoEfectividad) }}</td>
          <td>{{ riesgo.comentarios }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Botones de tabla -->
    <div class="d-flex justify-content-center">
      <ngb-pagination 
      [(page)]="mainPage" 
      [pageSize]="mainPageSize" 
      [collectionSize]="totalLength"
      [maxSize]="3"
      [rotate]="true"
      [boundaryLinks]="true">
      </ngb-pagination>
  </div>
  </div>
</div>


  <!-- Modal de Añadir y Editar para Formulario de Riesgos Ventana Emergente -->
  <ng-template #riesgoModal let-modal class="custom-modal">

    <!-- Encabezado del Modal-->
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedRiesgo ? 'Editar' : 'Añadir' }} Riesgo</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
      <form #riesgoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
              <div class="card-body custom-card">
                <div class="row">
                  <!-- Primera Fila: ID, Fecha de Registro, Persona Registro, Componente -->
                  <div class="col-xl-2 col-lg-2">
                    <label for="id_riesgo">ID Riesgo</label>
                      <input class="form-control" type="text" 
                        id="id_riesgo" name="id_riesgo" [(ngModel)]="id_riesgo" disabled/>
                  </div>
                  <div class="col col-xl-3 col-lg-3 mt-auto">
                    <label for="fecha_hora_reg">Fecha de Registro</label>
                    <input
                      class="form-control"
                      type="text"
                      id="fecha_hora_reg"
                      name="fecha_hora_reg"
                      [(ngModel)]="fecha_hora_reg"
                      readonly
                    />
                  </div>
                  <div class="col col-xl-3 col-lg-3 mt-auto">
                    <label for="persona_registro">Persona Registro</label>
                    <input class="form-control" type="text" 
                      id="id_persona_reg" name="id_persona_reg" [(ngModel)]="id_persona_reg" disabled/>
                  </div>

                  <div class="col col-xl-3 col-lg-3 mt-auto">
                    <label for="id_proy_elemento">Componente</label>
                    <select class="form-control" id="id_proy_elemento" name="id_proy_elemento" 
                                        [(ngModel)]="id_proy_elemento" (change)="onSelectionChange()">
                                        <option value="" disabled selected>Selecciona un elemento</option>
                                        <option *ngFor="let componente of componentes" [value]="componente.id_meto_elemento">
                                            {{ componente.meto_elemento }}
                                        </option>
                                    </select>
                  </div>
                  <div class="col col-xl-1 col-lg-1 mt-auto">
                    <label class="btn-view-bg-3"  [ngStyle]="{'background-color': '#'+color}">{{ sigla }}</label>
                  </div>
                </div>
      
                <div class="row">
                  <!-- Segunda Fila: Categoría, Título de Riesgo, Fecha de Identificación -->
                  <div class="col col-xl-3 col-lg-3 mt-auto">
                    <label>Categoría</label>
                    <select
                      class="form-control"
                      [(ngModel)]="idp_categoria"
                      name="idp_categoria"
                    >
                      <option value="" disabled>Seleccione</option>
                      <option *ngFor="let categoria of riesgoCategoria" [value]="categoria.id_subtipo">
                        {{ categoria.descripcion_subtipo }}
                      </option>
                    </select>
                  </div>
                  <div class="col col-xl-5 col-lg-5 mt-auto">
                    <label for="tituloRiesgo">Título de Riesgo</label>
                    <input
                      type="text"
                      [(ngModel)]="tituloRiesgo"
                      name="tituloRiesgo"
                      class="form-control"
                    />
                  </div>
                  <div class="col col-xl-4 col-lg-4 mt-auto">
                    <label for="fechaIdentificacion">Fecha de Identificación</label>
                    <input
                      type="date"
                      [(ngModel)]="fechaIdentificacion"
                      name="fechaIdentificacion"
                      class="form-control"
                    />
                  </div>
                </div>
      
                <div class="row">
                  <!-- Descripción -->
                  <div class="col-xl-12">
                    <label>Riesgo/Supuesto/Hipótesis</label>
                    <textarea
                      class="form-control"
                      [(ngModel)]="descripcion"
                      name="descripcion"
                      rows="3"
                    ></textarea>
                  </div>
                </div>
      
              
                <div class="row">
                  <!-- Individuales/Instituciones Vinculados -->
                  <div class="col col-xl-6 col-lg-6 mt-auto">
                    <label for="vinculados">Individuales/Instituciones Vinculados</label>
                    <input
                      type="text"
                      [(ngModel)]="vinculos"
                      name="vinculo"
                      class="form-control"
                    />
                  </div>
      
                  <!-- Identificación del Riesgo -->
                  <div class="col col-xl-6 col-lg-6 mt-auto">
                    <label for="idp_identificacion">Identificación del Riesgo</label>
                    <select [(ngModel)]="idp_identificacion" name="idp_identificacion" class="form-control">
                      <option value="" disabled>Seleccione</option>
                      <option *ngFor="let identificacion of riegosIdentificacion" [value]="identificacion.id_subtipo">
                        {{ identificacion.descripcion_subtipo }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <!-- Impacto, Probabilidad, Nivel de Riesgo -->
                  <div class="col col-xl-4 col-lg-4 mt-auto">
                    <label for="impacto">Impacto</label>
                    <select [(ngModel)]="impacto" name="impacto" class="form-control">
                      <option value="3">Alto</option>
                      <option value="2">Medio</option>
                      <option value="1">Bajo</option>
                    </select>
                  </div>
                  <div class="col col-xl-4 col-lg-4 mt-auto">
                    <label for="probabilidad">Probabilidad</label>
                    <select [(ngModel)]="probabilidad" name="probabilidad" class="form-control">
                      <option value="3">Alta</option>
                      <option value="2">Media</option>
                      <option value="1">Baja</option>
                    </select>
                  </div>
                  <div class="col col-xl-4 col-lg-4 mt-auto">
                    <label for="nivelRiesgo">Nivel de Riesgo</label>
                    <select [(ngModel)]="nivel" name="nivel" class="form-control">
                      <option value="3">Alto</option>
                      <option value="2">Medio</option>
                      <option value="1">Bajo</option>
                    </select>
                  </div>
                </div>
      
                <div class="row">
                  <!-- Ocurrencia durante la Gestión, Necesidad de Tomar Acciones -->
                  <div class="custom-form-separator mx-auto my-3" style="border-color: #4E8646;"></div>
                  <div class="col col-xl-6 col-lg-6 mt-auto">
                    <label for="idp_ocurrencia">Ocurrencia durante la Gestión</label>
                    <select [(ngModel)]="idp_ocurrencia" name="idp_ocurrencia" class="form-control">
                      <option value="" disabled>Seleccione</option>
                      <option *ngFor="let ocurrencia of riegosOcurrencia" [value]="ocurrencia.id_subtipo">
                        {{ ocurrencia.descripcion_subtipo }}
                      </option>
                    </select>
                  </div>
                  <div class="col col-xl-6 col-lg-6 mt-auto">
                    <label for="necesidadAcciones">Necesidad de Tomar Acciones</label>
                    <select [(ngModel)]="necesidadAcciones" name="necesidadAcciones" class="form-control">
                      <option value="" disabled>Seleccione</option>
                      <option *ngFor="let accion of riesgoAcciones" [value]="accion.id_subtipo">
                        {{ accion.descripcion_subtipo }}
                      </option>
                    </select>
                  </div>
                </div>
      
                <div class="row">
                  <!-- Medidas de Respuesta al Riesgo -->
                  <div class="col col-xl-12 col-lg-12 mt-auto">
                    <label for="medidasRespuesta">Medidas de Respuesta al Riesgo</label>
                    <textarea [(ngModel)]="medidas" name="medidas" class="form-control"></textarea>
                  </div>
                  <div class="custom-form-separator mx-auto my-3" style="border-color: #4E8646;"></div>
                </div>
      
                <div class="row">
                  <!-- Efectividad y Comentarios Adicionales -->
                  <div class="col col-xl-4 col-lg-4 mt-auto">
                    <label for="idp_efectividad">Efectividad de las Medidas</label>
                    <select [(ngModel)]="idp_efectividad" name="idp_efectividad" class="form-control">
                      <option value="" disabled>Seleccione</option>
                      <option *ngFor="let efectividad of riesgoMedidas" [value]="efectividad.id_subtipo">
                        {{ efectividad.descripcion_subtipo }}
                      </option>
                    </select>
                  </div>
                  <div class="col col-xl-8 col-lg-8 mt-auto">
                    <label for="comentarios">Comentarios Adicionales</label>
                    <input
                      type="text"
                      [(ngModel)]="comentarios"
                      name="comentarios"
                      class="form-control"
                    />
                  </div>
                </div>
      
                <div class="modal-footer">
                  <div class="d-flex justify-content-center" style="width: 100%;">
                    <button type="button" class="btn btn-bg-3" (click)="modal.close('Cerrar')">
                      <i class="fa fa-times" aria-hidden="true"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-bg-1">
                      <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </ng-template>
</div>