<div [@routerTransition]>
    <!-- Sección del Encabezado -->
    <div class="row col-md-12">
        <!-- Bloque de Encabezado -->
        <div class="col col-md-6 align-items-center custom-body-header">
            <!-- Componente personalizado para el encabezado -->
                <app-bodyHeader></app-bodyHeader>
        </div>
        <!-- Bloque de Tarjetas de Estadísticas -->
        <div class="col col-md-6 text-center">
            <!-- Fila para organizar las tarjetas -->
                <div class="row">
                    <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                        {{headerDataNro01}} Objetivos Especificos
                    </div>
                    <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                        {{headerDataNro02}} Resultados
                    </div>
                    <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                        {{headerDataNro03}} Indicadores
                    </div>
                    <div class="col col-md-2 m-1 d-flex justify-content-center align-items-center custom-info-cards flex-grow-1">
                        {{headerDataNro04}} Actividades Planificadas
                    </div>
                </div>
        </div>
    </div>
    <!-- ======= ======= ======= ======= ======= ======= ======= -->

    <!-- Sección de Tarjetas de Información -->
    <div class="row" style="display: flex; justify-content: center;">
        
        <div class="col-xl-3 col-lg-3 my-auto mt-4">
            <!-- MANEJO COMUNITARIO DE FUEGO -->
            <div class="card">
                <img class="col col-lg-12 col-md-12 custom_logro_img" [src]="(imageSrc)||(defaultImageSrc)" alt="Imagen de Manejo Comunitario de Fuego">                
                <h6 class="card-title">MANEJO COMUNITARIO DE FUEGO</h6>
                <p class="card-text">Contribuimos al fortalecimiento de capacidades locales y la gobernanza para el Manejo Integral del Fuego y la
                    reducción de riesgos de incendios forestales de manera participativa y articulada con (40) comunidades indígenas y campesinas,
                     (cuatro) gobiernos subnacionales y (seis) áreas protegidas de la Chiquitania, Chaco, Pantanal y la Amazonía Norte de Bolivia.</p>
            </div>
                <!-- MANEJO DEL PROYECTO -->
                <div class="custom-form-separator mx-auto my-3" style="border-color: #4E8646;"></div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- ======= ======= ======= Inicio Proyecto  ======= ======= ======= -->
                                <div class="col-xl-4 col-lg-4 my-auto ">
                                    <label class="custom-info-proy-sub-title" for="">Inicio Proyecto</label>
                                    <input class="form-control custom-info-proy-input" type="date" 
                                    id="fecha_inicio" name="fecha_inicio" [(ngModel)]="proyectoScope.fecha_inicio" (change)="getProyectDateGaps()"/>
                                </div>
                                <!-- ======= ======= ======= Fin de Proyecto ======= ======= ======= --> 
                                <div class="col-xl-4 col-lg-4 my-auto ">
                                    <label class="custom-info-proy-sub-title" for="">Fin de Proyecto</label>
                                    <input class="form-control custom-info-proy-input" type="date" 
                                        id="fecha_fin" name="fecha_fin" [(ngModel)]="proyectoScope.fecha_fin" (change)="getProyectDateGaps()"/>
                                </div>
                                <!-- ======= ======= ======= Periodo Actual ======= ======= ======= --> 
                                <div class="col-xl-4 col-lg-4 my-auto ">
                                    <label class="custom-info-proy-sub-title" for="">Periodo Actual</label>
                                    <input class="form-control custom-info-proy-input" style="background-color: #d67600; color: #ffffff;" type="date" 
                                        id="fecha_fin" name="fecha_fin" [(ngModel)]="proyectoScope.fecha_fin" (change)="getProyectDateGaps()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="custom-form-separator mx-auto my-3" style="border-color: #4E8646;"></div>
            <!-- PRESUPUESTO DEL PROYECTO -->
            <div class="card">
                <h6 class="card-title">PRESUPUESTO DEL PROYECTO</h6>
                <div class="card-body" style="display: flex; justify-content: center;">
                    <div class="text-center">
                        <h6>Presupuesto del Proyecto</h6>
                        <h5 class="presupuesto">Bs 5000,000.00</h5>
                    </div>
                    <div style="position: relative; height: 200px; width: 300px; padding: 5%;">
                        <canvas id="doughnutChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="custom-form-separator mx-auto my-3" style="border-color: #4E8646;"></div>
        </div>

        <!-- Línea vertical -->
        <div class="col-auto mt-4">
            <div style="width: 1px; height: 100%; background-color: #4E8646;"></div>
        </div>  

        <div class="col-xl-8 col-lg-8 d-flex align-items-start">
            <div class="row">
                <!-- PRESUPUESTO DE LA GESTION 2024 -->  
                <div class="col-xl-4 col-lg-4 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">PRESUPUESTO DE LA GESTION 2024</h6>
                        <div class="card-body" style="display: flex; justify-content: center;">
                            <div class="text-center">
                                <h6>Presupuesto del Periodo</h6>
                                <h5 class="presupuesto">Bs 2000,000.00</h5>
                                <h6>Ejecutado</h6>
                                <h5 class="presupuesto" style="background-color: #ffffff; color: #000000;">150,000.00</h5>
                            </div>
                            <div style="position: relative; height: 200px; width: 300px; padding: 5%;">
                                <canvas id="doughnutChart2024"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INDICADORES -->
                <div class="col-xl-4 col-lg-4 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">INDICADORES</h6>
                        <div class="card-body" style="display: flex; justify-content: center;">
                            <div style="position:relative; height: 200px; width: 250px;">
                                <canvas id="radarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- RIESGOS -->
                <div class="col-xl-4 col-lg-4 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">RIESGOS</h6>
                        <div class="card-body" style="display: flex; align-items:center; justify-content: center;">
                            <!-- Impacto-->
                            <div>
                                <h6 class="card-title mb-0" style="transform: rotate(270deg);">Impacto</h6>
                            </div>
                            <div>
                                <div class="d-flex justify-content-center">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="bg-warning text-center">0</td>
                                                <td class="bg-darwar text-center">2</td>
                                                <td class="bg-danger text-center">1</td>
                                            </tr>
                                            <tr>
                                                <td class="bg-warsuc text-white text-center">1</td>
                                                <td class="bg-warning text-center">0</td>
                                                <td class="bg-darwar text-center">0</td>
                                            </tr>
                                            <tr>
                                                <td class="bg-success text-white text-center">0</td>
                                                <td class="bg-warsuc text-white text-center">0</td>
                                                <td class="bg-warning text-center">1</td>
                                            </tr>                                           
                                        </tbody>
                                    </table>
                                </div>
                                <h6 class="card-title">Probabilidad</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- APRENDIZAJES -->
                <div class="col-xl-5 col-lg-5 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">APRENDIZAJES</h6>
                        <div class="card-body" style="display: flex; justify-content: center;">
                            <!-- Gráfico -->
                            <div style="position: relative; height: 200px; width: 200px;">
                                <canvas id="learnDoughnutChart"></canvas>
                            </div>
                            <!-- Leyenda -->
                            <div>
                                <div>
                                    <h6><span class="legend-box" style="background-color: #2a06f8;"></span>Administrativos</h6>
                                    <h6><span class="legend-box" style="background-color: #8E24AA;"></span>Gerencia de Proyecto</h6>
                                    <h6><span class="legend-box" style="background-color: #FFEB3B;"></span>Actores Claves</h6>
                                    <h6><span class="legend-box" style="background-color: #E91E63;"></span>Otros</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ACTIVIDADES -->
                <div class="col-xl-4 col-lg-4 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">ACTIVIDADES</h6>
                        <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
                            <div class="col-xl-6 col-lg-6">
                            <img class="col col-lg-12 col-md-12 custom_logro_img" [src]="assetsPath+'images/Actividades.jpg'" alt="Actividades">
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <h4 style="color: #f60404;">1-Vencida</h4>
                                <h4 style="color: #fff700;">2-Por Vencer</h4>
                                <h4 style="color: #95ff00;">3-Vigentes</h4>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- LOGROS -->
                <div class="col-xl-3 col-lg-3 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">LOGROS</h6>
                        <div class="card-body">
                            <img class="col col-lg-12 col-md-12 custom_logro_img" [src]="assetsPath+'images/Logros.jpg'" alt="Logros">
                            <h4 class="text-center">
                                <strong>3</strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- BENEFICIARIOS -->
                <div class="col-xl-5 col-lg-5 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">BENEFICIARIOS</h6>
                        <div class="card-body" style="display: flex;">
                            <div>
                                <h3 class="text-center">BENEFICIARIOS ALCANZADOS</h3>
                                <div style="display: flex; align-items: center; justify-content: center;">
                                    <div>
                                        <img class="col col-lg-12 col-md-12 card-img-top same-size-img custom_logro_img" [src]="assetsPath+'images/Hombre.png'" alt="Logros">                                  
                                        <h3 class="text-center">50</h3>
                                    </div>
                                    <div>
                                        <img class="col col-lg-12 col-md-12 card-img-top same-size-img custom_logro_img" [src]="assetsPath+'images/Mujer.png'" alt="Logros">
                                        <h3 class="text-center">70</h3>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 class="text-center" style="color: #f67d04;">ACTORES CLAVE</h3>
                                <img class="col col-lg-12 col-md-12 card-img-top same-size-img custom_logro_img" [src]="assetsPath+'images/ActoresClave.jpg'" alt="ActoresClave">
                                <h3 class="text-center" style="color: #f67d04;">15</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SIGUIENTES OBLIGACIONES -->
                <div class="col-xl-7 col-lg-7 my-auto mt-4">
                    <div class="card">
                        <h6 class="card-title">SIGUIENTES OBLIGACIONES</h6>
                        <!-- Contenedor blanco para la tabla -->
                        <div class="card">                       
                                <!-- Tabla Obligaciones -->
                                <table class="table custom-table table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Documentos o Informes</th>
                                        <th>Compromiso</th>
                                        <th style="text-align: center;">Fecha Obligacion</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of obligaciones">
                                            <td>{{row.documento}}</td>
                                            <td>{{row.compromiso}}</td>
                                            <td style="text-align: center;">{{row.fecha_obligacion}}</td>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
