<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <!-- ======= ======= ======= BIG ICONS ======= ======= ======= -->
        <div class="list-group-item">
            <img [src]="logoImg" 
                alt="FAN Logo" style="width: 100%; height: auto;">
        </div>
        <a [routerLinkActive]="['router-link-active']" routerLink="/dashboard" class="list-group-item d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fa fa-pie-chart" aria-hidden="true" [ngStyle]="{'font-size': collapsed ? '1rem' : '50px'}"></i>
            <span>{{ "Dashboards" }}</span>
        </a>
        <div class="list-group-item d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fa fa-cog" aria-hidden="true" [ngStyle]="{'font-size': collapsed ? '1rem' : '50px'}"></i>
            <span>{{ currentProyName }}</span>
        </div>
        <!-- ======= ======= ======= ======= ======= ======= ======= -->
        <!-- ======= ======= ======= LIST ICONS ======= ======= ======= -->
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/infProyecto']" class="list-group-item">
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
            <span>{{ "Inf. General" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/planifEstrategica']" class="list-group-item">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;
            <span>{{ "Planif. Estrategica" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/ejecEstrategica']" class="list-group-item">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;
            <span>{{ "Ejec. Estrategica" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/actividad']" class="list-group-item">
            <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;
            <span>{{ "Actividades" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/logros']" class="list-group-item">
            <i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;
            <span>{{ "Logros" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/beneficiarios']" class="list-group-item">
            <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
            <span>{{ "Beneficiarios" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/riesgos']" class="list-group-item">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;
            <span>{{ "Riesgos" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/aprendizajes']" class="list-group-item">
            <i class="fa fa-book" aria-hidden="true"></i>&nbsp;
            <span>{{ "Apredizajes" }}</span>
        </a>
        <!-- ======= ======= ======= ======= ======= ======= ======= -->
        <!-- ======= ======= ======= BIG ICONS ======= ======= ======= -->
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/personaRoles']" class="list-group-item d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fa fa-users" aria-hidden="true" [ngStyle]="{'font-size': collapsed ? '1rem' : '50px'}"></i>
            <span>{{ "Persona y roles" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/clasificadores']" class="list-group-item d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fa fa-tasks" aria-hidden="true" [ngStyle]="{'font-size': collapsed ? '1rem' : '50px'}"></i>
            <span>{{ "Clasificadores" }}</span>
        </a>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/auditoria']" class="list-group-item d-flex flex-column align-items-center justify-content-center text-center">
            <i class="fa fa-eye" aria-hidden="true" [ngStyle]="{'font-size': collapsed ? '1rem' : '50px'}"></i>
            <span>{{ "Auditoria" }}</span>
        </a>
        <!-- ======= ======= ======= ======= ======= ======= ======= -->
        <!-- ======= ======= ======= SETTINGS SECTION ======= ======= ======= -->
        <a (click)="onLoggedout()" [routerLink]="['/login']" class="list-group-item custom-settings">
            <i class="fa fa-fw fa-power-off"></i>
            <span>{{ "Cerrar sesion" }}</span>
        </a>
        <!-- ======= ======= ======= ======= ======= ======= ======= -->
        
    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Colapsar menu' }}</span>
    </div>
</nav>
