<table class="table custom-table table-striped table-bordered custom-table-info-proy custom-table-info-proy-1">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Tipo</th>
      <th>Lugar</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let item of items">
      <tr [class.parent-row]="!parent" [class.child-row]="parent">
        <td 
          [style.padding-left.px]="item.level * 20" 
          class="custom-toggle-button" 
          (click)="toggleChildren(item)">
          <span *ngIf="item.childrens?.length" class="custom-toggle-button">
            <ng-container *ngIf="item.isOpen; else closedIcon">
              <i class="fa fa-arrow-down custom-text-color-3" aria-hidden="true"></i>
            </ng-container>
            <ng-template #closedIcon>
              <i class="fa fa-arrow-right custom-text-color-1" aria-hidden="true"></i>
            </ng-template>
          </span>
        </td>
        <td>
          <input 
            style="width: fit-content;"
            type="checkbox" 
            [(ngModel)]="item.selected"
            (change)="ubiCheckboxChanged(item)" 
            id="checkbox-{{ i }}" 
            name="checkbox-{{ i }}" />
        </td>
        <td>{{ item.idp_tipo_ubica_geo  }}</td>
        <td>{{ item.nombre  }}</td>
      </tr>

      <ng-container *ngIf="item.isOpen">
        <ng-container *ngFor="let child1 of item.childrens">
          <tr [class.child-row]="true">
            <td 
              [style.padding-left.px]="(item.level + 1) * 20" 
              class="custom-toggle-button" 
              (click)="toggleChildren(child1)">
              <span *ngIf="child1.childrens?.length" class="custom-toggle-button">
                <ng-container *ngIf="child1.isOpen; else closedChildIcon">
                  <i class="fa fa-arrow-down custom-text-color-3" aria-hidden="true"></i>
                </ng-container>
                <ng-template #closedChildIcon>
                  <i class="fa fa-arrow-right custom-text-color-1" aria-hidden="true"></i>
                </ng-template>
              </span>
            </td>
            <td>
              <input 
                type="checkbox" 
                [(ngModel)]="child1.selected"
                (change)="ubiCheckboxChanged(child1)" 
                id="checkbox-{{ i }}" 
                name="checkbox-{{ i }}" />
            </td>
            <td>{{ child1.idp_tipo_ubica_geo }}</td>
            <td>{{ child1.nombre }}</td>
          </tr>

          <ng-container *ngIf="child1.isOpen">
            <ng-container *ngFor="let child2 of child1.childrens">
              <tr [class.child-row]="true">
                <td 
                  [style.padding-left.px]="(item.level + 2) * 20" 
                  class="custom-toggle-button" 
                  (click)="toggleChildren(child2)">
                  <span *ngIf="child2.childrens?.length" class="custom-toggle-button">
                    <ng-container *ngIf="child2.isOpen; else closedChild2Icon">
                      <i class="fa fa-arrow-down custom-text-color-3" aria-hidden="true"></i>
                    </ng-container>
                    <ng-template #closedChild2Icon>
                      <i class="fa fa-arrow-right custom-text-color-1" aria-hidden="true"></i>
                    </ng-template>
                  </span>
                </td>
                <td>
                  <input 
                    type="checkbox" 
                    [(ngModel)]="child2.selected"
                    (change)="ubiCheckboxChanged(child2)" 
                    id="checkbox-{{ i }}" 
                    name="checkbox-{{ i }}" />
                </td>
                <td>{{ child2.idp_tipo_ubica_geo }}</td>
                <td>{{ child2.nombre }}</td>
              </tr>

              <ng-container *ngIf="child2.isOpen">
                <ng-container *ngFor="let child3 of child2.childrens">
                  <tr [class.child-row]="true">
                    <td 
                      [style.padding-left.px]="(item.level + 3) * 20" 
                      class="custom-toggle-button" 
                      (click)="toggleChildren(child3)">
                      <span *ngIf="child3.childrens?.length" class="custom-toggle-button">
                        <ng-container *ngIf="child3.isOpen; else closedChild3Icon">
                          <i class="fa fa-arrow-down custom-text-color-3" aria-hidden="true"></i>
                        </ng-container>
                        <ng-template #closedChild3Icon>
                          <i class="fa fa-arrow-right custom-text-color-1" aria-hidden="true"></i>
                        </ng-template>
                      </span>
                    </td>
                    <td>
                      <input 
                        type="checkbox" 
                        [(ngModel)]="child3.selected"
                        (change)="ubiCheckboxChanged(child3)" 
                        id="checkbox-{{ i }}" 
                        name="checkbox-{{ i }}" />
                    </td>
                    <td>{{ child3.idp_tipo_ubica_geo }}</td>
                    <td>{{ child3.nombre }}</td>
                  </tr>

                  <ng-container *ngIf="child3.isOpen">
                    <ng-container *ngFor="let child4 of child3.childrens">
                      <tr [class.child-row]="true">
                        <td 
                          [style.padding-left.px]="(item.level + 4) * 20" 
                          class="custom-toggle-button" 
                          (click)="toggleChildren(child4)">
                          <span *ngIf="child4.childrens?.length" class="custom-toggle-button">
                            <ng-container *ngIf="child4.isOpen; else closedChild4Icon">
                              <i class="fa fa-arrow-down custom-text-color-3" aria-hidden="true"></i>
                            </ng-container>
                            <ng-template #closedChild4Icon>
                              <i class="fa fa-arrow-right custom-text-color-1" aria-hidden="true"></i>
                            </ng-template>
                          </span>
                        </td>
                        <td>
                          <input 
                            type="checkbox" 
                            [(ngModel)]="child4.selected"
                            (change)="ubiCheckboxChanged(child4)" 
                            id="checkbox-{{ i }}" 
                            name="checkbox-{{ i }}" />
                        </td>
                        <td>{{ child4.idp_tipo_ubica_geo }}</td>
                        <td>{{ child4.nombre }}</td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>
